.container {
    border: 1px solid #ebebeb;

    /* Flex parent */
    display: flex;
    align-items: center;
}

.url-form {
    padding-left: 4px;
    width: 100%;
}

.error-icon {
    fill: var(--brand-error); /* defined in App.module.css */
    margin-right: 9px;
}

.button {
    color: var(--primary-brand-purple); /* defined in App.module.css */
    margin-right: 4px;
}

.button:hover {
    color: var(--primary-brand-purple); /* defined in App.module.css */
}

.container input {
    font-family: monospace;
    color: gray;
}