.clear-button, .clear-button i {
    background-color: var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    color: var(--secondary-text-color);
    margin-left: 2px;
}

.clear-button:hover, .clear-button:hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.date-range-container {
    display: flex;
    justify-content: space-between;
}

.date-range-separator {
    align-items: center;
    display: flex;
    font-size: small;
    margin: 0 2px;
}

.filter-input div {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: var(--small-border-radius);
    color: var(--secondary-text-color);
}

.title {
    margin: 0;
    padding-bottom: var(--margin);
}
