.clear-button {
    height: 30px;
    width: 30px;
}

.clear-button, .clear-button span, .clear-button i {
    color: var(--secondary-text-color);
}

.clear-button, .clear-button i {
    background-color: var(--secondary-background-color) !important;
    font-size: var(--s-paragraph-size);
    margin: 2px 5px;

}

.clear-button:hover, .clear-button:hover i {
    background-color: var(--highlight-background-color) !important;
    color: var(--highlight-text-color) !important;
    cursor: pointer;
}

.date-range-container {
    display: flex;
}

.date-range-separator {
    align-items: center;
    display: flex;
    font-size: small;
    margin: 0 10px 8px;
}

.text-field div {
    background-color: var(--secondary-background-color);
    border: none;
    border-radius: var(--small-border-radius);
    color: var(--primary-text-color);
}

.text-field div::after {    
    border: 1px solid var(--aqua)
}

.text-field > div {
    border: 1px solid var(--border-color)
}

.title {
    margin: 0;
    padding-bottom: var(--margin);
}
