.desktop-menu-item .info-button {
    background-color: var(--primary-background-color);
    border-radius: var(--large-border-radius);
    border: none;
    color: var(--white);
    font-size: 12px;
    height: 20px;
    min-width: 50px;
    overflow: hidden;
    padding: 0;
    opacity: 0.5;
}

.desktop-menu-item .info-button:hover {
    opacity: 1;
}

.divider {
    display: inherit !important;
    opacity: 0.25;
}

.secondary-text {
    color: var(--white);
    font-size: 12px !important;
    opacity: 0.5;
}

.desktop-menu-item .info-button span {
    font-size: 12px;
}

.desktop-menu-item:hover > div, .desktop-menu-item:hover .info-button, .desktop-menu-item:hover .info-button i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.desktop-menu-item .info-button:hover, .desktop-menu-item .info-button:hover i {
    background-color: var(--dark-aqua);
}

.desktop-menu-item .info-button i {
    padding-left: 4px;
}

.desktop-menu-item a {
    padding-left: 0;
}

.view-link {
    padding-left: 24px !important;
}
