.desktop-menu-item .info-button {
    background-color: var(--primary-background-color);
    border-radius: var(--large-border-radius);
    border: none;
    color: var(--primary-text-color);
    font-size: 12px;
    height: 20px;
    max-width: 50px;
    min-width: 50px;
    overflow: hidden;
    padding: 0;
    width: 50px;
}

.desktop-menu-item .info-button {
    transform: translateY(-2px);
}

.desktop-menu-item .info-button {
    font-size: 10px;
}

.desktop-menu-item:hover > div, .desktop-menu-item:hover .info-button, .desktop-menu-item:hover .info-button i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.desktop-menu-item .info-button:hover, .desktop-menu-item .info-button:hover i {
    background-color: var(--dark-aqua);
}

.desktop-menu-item .info-button i {
    padding-left: 4px;
}

.desktop-menu-item a {
    padding-left: 57.5px;
    width: 25px;
}
