.container {
    composes: item from "../../components/DnDList/DnDListItem.module.css";
    margin-right: 2px;
}

.disabled {
    color: gray;
}

.info {
    cursor: help;
    margin-right: 0.25rem;
    fill: var(--blue); /* defined in App.module.css */
}

.missing-description {
    margin-left: 12px;
}

.title {
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title[title] {
    text-decoration: none;
}