.root {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.title {
    color: var(--primary-brand-dark-blue); /* defined in App.module.css */
    margin: 0 0 0.25rem 0;

    /* flex child */
    flex: 0 0 auto;
}

.description {
    margin: 0 0 0.25rem 0;
    font-weight: normal;

    /* flex child */
    flex: 0 0 auto;
}

.list-container {
    border: 1px solid #ebebeb;
    padding: 0.5rem;

    /* flex child */
    flex: 1 1 auto;

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--grey); /* defined in App.module.css */
}

.filter-input {
    width: 100%;
    border-color: #ebebeb;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 20px;

    /* flex child */
    flex: 0 0 auto;
}

.filter-input::placeholder {
    color: var(--grey);
}

.list {
    /* flex child */
    /* flex-basis is fairly arbitrary; setting value to something low like 20px allows the list to shrink as the user would expect */
    flex: 1 1 20px;
}

.button-container {
    display: flex;
    align-items: center;
}

.clear-filters-button, .clear-filters-button:hover, .clear-filters-button:active {
    background: none;
    border: none;
    color: var(--primary-brand-dark-blue);
    font-size: 10px;
    margin: auto;
    margin-top: 3px;
    width: 110px;
}

.clear-filters-button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.clear-filters-button:active {
    opacity: 0.25;
}

.divider-title {
    color: var(--primary-brand-grey);
    font-size: smaller;
    padding-right: 2px;
    margin-bottom: 3px;
}

.divider-line {
    border-top: 2px dashed var(--primary-brand-grey);
}
