.container {
    --link-width: 34px;

    border: 1px solid #ebebeb;
    height: 100%;
    width: 100%;
    margin-bottom: var(--margin);

    /* Flex parent */
    display: flex;
    align-items: center;
}

.url-form {
    padding-left: 4px;
    width: calc(100% - var(--link-width));
}

.error-icon {
    fill: maroon;
    margin-left: 4px;
}

.copy-button {
    color: #827aa3;
    margin-right: 4px;
    width: var(--link-width);
}
