.container {
    border: 1px solid #ebebeb;

    /* Flex parent */
    display: flex;
    align-items: center;
}

.url-form {
    padding-left: 4px;
    width: 100%;
}

.error-icon {
    fill: maroon;
    margin-right: 9px;
}

.copy-button {
    color: #827aa3;
    margin-right: 4px;
}

.copy-button:hover {
    color: #827aa3;
}
