.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.filter-display-bar {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: calc(var(--margin) / 2); /* --margin defined in App.module.css */
    padding-bottom: 3px;
}

.filter-display-bar.hidden {
    height: 0;
    margin: 0;
}

.filter-display-bar.hidden + .scroll-container {
    height: 100%;
}

.scroll-container {
    flex: auto;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.scroll-container li {
    list-style: none;
}

/* Add padding to emphasize at end of list */
.scroll-container li:last-of-type {
    padding-bottom: 30px;
}

.error-message {
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;

    color: var(--error-text-color); /* defined in App.module.css */
    text-align: center;
    margin: var(--margin);
    line-height: 1.5;
}

.error-message h2 {
    margin: 0 var(--margin);
}

.vertical-gradient {
    background-image: linear-gradient(to bottom, transparent, var(--secondary-background-color));
    position: absolute;
    height: 60px;
    width: 100%;
    pointer-events: none;
    opacity: 1;
    /* Should cover FileList gradient (10) but not file count (99) or aggregate info (999)*/
    z-index: 50;
    bottom: 0;
}
