.tree-node-container {
    --height: 18px;

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.directory-header {
    cursor: pointer;
    margin: 2px;
    min-height: var(--height); /* ensures the header height doesn't jump when a selection count badge is rendered */

    /* flex parent */
    display: flex;
    align-items: center;
}

.focused {
    border: 1px solid var(--highlight-text-color);
    margin: 0;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.icon, .folder-icon {
    fill: var(--secondary-text-color);
}

.folder-icon {
    margin-left: 8px; /* if this is updated, need to update padding applied to FileLists in DirectoryTreeNode.tsx */
}

.error-icon {
    fill: var(--error-color); /* defined in App.module.css */;
}

.directory-name {
    margin: 0 0.5rem;
    padding-top: 2px;
    display: inline-block;
    font-weight: normal;
}

.selection-count-badge {
    display: inline-block;
    height: var(--height);
    background-color: var(--highlight-background-color); /* defined in App.module.css */
    color: white; /* reverse type */
    padding: 2px 6px;
    font-size: smaller;
}

.children {
    /* flex child */
    flex: 1 1 auto;
    height: auto;
}

.children.collapsed {
    padding: 0;
}

.file-list {
    padding: 0.5rem 0.25rem 0.5rem 0;
}