.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.filter-display-bar {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: calc(var(--margin) / 2); /* --margin defined in App.module.css */
    padding-bottom: 3px;
}

.filter-display-bar.hidden {
    height: 0;
    margin: 0;
}

.filter-display-bar.hidden + .scroll-container {
    height: 100%;
}

.scroll-container {
    flex: auto;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

.scroll-container li {
    list-style: none;
}

.error-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    color: var(--error-text-color); /* defined in App.module.css */
    font-size: 2rem;
    text-align: center;
}

.error-message p {
    margin: 0;
}
