.loading-indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: var(--secondary-background-color);
    opacity: 0.7;

    display: flex;
    justify-content: center;
    align-items: center;
}

.indeterminate-progress-bar {
    flex: 1 1 auto;
}

.indeterminate-progress-bar > div > div:first-child {
    background: var(--primary-text-color);
}

.indeterminate-progress-bar > div > div:last-child {
    background: linear-gradient(to right, var(--primary-text-color) 0%, var(--secondary-background-color) 25%, var(--secondary-background-color) 75%, var(--primary-text-color) 100%);
}

.hidden {
    display: none;
}