.footer {
    display: flex;
    width: 100%;
    font-size: var(--xs-paragraph-size);
    font-weight: normal;
    margin: calc(2*var(--margin)) 0 0 0;
    overflow: hidden;
    justify-content: space-between; 
}

.footer-left {
    padding-right: 4px;
    line-height: 1.5;
    flex-grow: 1;
}

.footer-right {
    display: flex;
    justify-content: flex-end;
}

.submit-button {
    width: fit-content;
}

.submit-button, .submit-button i {
    background-color: var(--highlight-background-color) !important;
    color: var(--highlight-text-color) !important;
    font-size: var(--xs-paragraph-size);
}

.submit-button:hover:not(.disabled), .submit-button:hover:not(.disabled) i, .submit-button:hover:not(.disabled) span {
    background-color: var(--highlight-hover-background-color) !important;
    color: var(--highlight-hover-text-color) !important;
    cursor: pointer;
}

.submit-button.disabled {
    opacity: 0.5;
}

.reset-button {
    height: 30px;
    width: 30px;
}

.reset-button, .reset-button span, .reset-button i {
    color: var(--secondary-text-color);
}

.reset-button, .reset-button i {
    background-color: var(--secondary-background-color) !important;
    font-size: var(--s-paragraph-size);
    margin: 0 5px;

}

.reset-button:hover, .reset-button:hover i {
    background-color: var(--highlight-background-color) !important;
    color: var(--highlight-text-color) !important;
    cursor: pointer;
}

.reset-button-container {
    align-items: flex-end;
    display: flex;
}

.inputs {
    display: flex;
}

.input-field {
    flex-grow: 1;
}

.input-field > input {
    background-color: var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    border: 1px solid var(--border-color);
    color: var(--secondary-text-color);
    outline: none;
    padding: 6px;
    font-size: var(--s-paragraph-size);
    width: 100%;
    min-width: fit-content;
}

.input-field:active > input, .input-field > input:active, 
.input-field:focus > input, .input-field > input:focus,
.input-field:focus-within > input, .input-field > input:focus-within  {
    border: 1px solid var(--aqua);
}

.range-seperator {
    align-items: flex-end;
    display: flex;
    font-size: small;
    margin: 0 10px 8px;
}

.range-seperator > i {
    font-size: var(--xs-paragraph-size);
    font-weight: 600;
}

.title {
    margin: 0;
    padding-bottom: var(--margin);
}

.container label,input{
    display: block;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
