.text {
    font-size: var(--l-paragraph-size);
    margin: 0 0 16px 0;
}

.all-services-row {
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.service-row {
    margin-bottom: 12px;
}

.url {
    color: var(--secondary-text-color);
    display: block;
    font-size: var(--s-paragraph-size);
    margin-top: 2px;
    word-break: break-all;
}

.footer {
    display: flex;
    gap: 8px;
}
