.disabled {
    color: gray;
}

.drag-indicator {
    cursor: grab;
}

.drag-indicator.disabled {
    cursor: not-allowed;
}

.info {
    margin-right: 0.25rem;
    fill: var(--blue); /* defined in App.module.css */
}