.container {
    composes: item from "../../components/DnDList/DnDListItem.module.css";
}

.title-container {
    padding-left: 2px;
    flex: 1 1 auto;
}

.title {
    text-overflow: ellipsis;
    white-space: nowrap;
}