.container {
    composes: item from "../../components/DnDList/DnDListItem.module.css";
}

.title {
    padding-left: 2px;
    flex: 1 1 auto;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.title[title] {
    text-decoration: none;
}
