.container {
    background: #bab5c9;
    opacity: 0.90;
    border-radius: 3px;
    /* Allow the element to be fixed to the bottom of the file list */
    position: fixed;
    bottom: 10px;
    /* Position box in the middle (adjusted for 1/2 the width of this element) */
    left: calc(50% - (40% / 2));
    height: 60px;
    width: 40%;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: auto;
    padding-top: 10px;
}

.label {
    font-weight: lighter;
    margin: 0;
}

.spinner {
    height: 100%;
}
