.container {
    background: #bab5c9;
    opacity: 0.90;
    border-radius: 3px;
    /* Allow the element to be fixed to the bottom of the file list */
    position: fixed;
    bottom: 10px;
    left: 50%; /* put left edge at the 50% mark of the containing block */
    transform: translateX(-50%); /* pull the element back to the left 50% of it's own width */
    height: 60px;
    width: 40%;
    text-align: center;
}

.row {
    display: flex;
}

.column {
    flex: auto;
    padding-top: 10px;
}

.label {
    font-weight: lighter;
    margin: 0;
}

.spinner {
    height: 100%;
}
