.dropdown {
    margin: 1em 0;
}

.button-bar {
    /* Flex Parent */
    display: flex;
    justify-content: center;
}

.list {
    list-style: none;
    margin-top: 0;
    max-height: 150px;
    overflow-y: auto;
    padding: 0;
}

.list-item {
    height: 18px;
}

.list-item:hover {
    background-color: lightgrey;
}

.list-item-icon {
    cursor: pointer;
    font-size: 0.75em;
    margin-right: 1em;
    user-select: none;
}
