@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}

h3 {
    font-weight: 500;
}
