@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
}
