{
    "arrowParens": "always",
    "jsxBracketSameLine": false,
    "printWidth": 100,
    "trailingComma": "es5",
    "tabWidth": 4,
    "importOrderSeparation": true,
    "importOrder": ["<THIRD_PARTY_MODULES>", "^(?!.*[.]css$)[./]", "^[./].*(.css)$"],
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}