.dialog {
    max-width: 50%;
}

.header {
    margin-top: 10px;
    margin-bottom: 4px;

    /* Flex Parent */
    display: flex;
    justify-content: space-between;
}

.code {
    cursor: text;
    user-select: text !important;
    min-width: 300px;
}

.code-actions {
    max-width: 100%;
    padding: 0 var(--padding) 0 var(--padding);

    /* flex parent */
    display: flex;
}

.action-button {
    background-color: var(--primary-background-color);
    border: none;
    border-radius: 0;
    color: var(--primary-text-color);
    width: 200px;
}

.action-button i, .action-button:hover i {
    color: var(--primary-text-color) !important;
}
