.search-box-input, .search-box-input > :is(div, input), .search-box-input :is(button, i) {
    background-color: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
}

.search-box-input > div:hover > button, .search-box-input > div:hover i {
    background-color: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
}

.search-box-input::after {
    display: none;
}

.title {
    margin: 0;
    padding-bottom: var(--margin);
}

.checkbox-wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 14px;
    margin-top: var(--margin);
    cursor: pointer;
}

.checkbox {
    margin: 2px 4px 1px 0;
    cursor: pointer;
}

input[type=checkbox] {
    accent-color: var(--dark-purple);
}
