.search-box-input, .search-box-input > :is(div, input), .search-box-input :is(button, i) {
    background-color: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
}

.search-box-input > div:hover > button, .search-box-input > div:hover i {
    background-color: var(--primary-background-color) !important;
    color: var(--primary-text-color) !important;
}

.search-box-input::after {
    display: none;
}

.title {
    margin: 0;
    padding-bottom: var(--margin);
}