.header {
    margin-top: 10px;
    margin-bottom: 4px;

    /* Flex Parent */
    display: flex;
    justify-content: space-between;
}

.label {
    margin: auto;
    margin-left: 0;
}

.snippet {
    background-color: black;
    color: #ffffff;
    padding: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.copy-button, .copy-button:hover {
    color: #827aa3;
    float: right;
}
