.dialog {
    max-width: 50%;
}

.header {
    margin-top: 10px;
    margin-bottom: 4px;

    /* Flex Parent */
    display: flex;
    justify-content: space-between;
}

.copy-button, .copy-button:hover {
    color: #827aa3;
    float: right;
}
