.root {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 0.25rem 0;

    /* flex child */
    flex: 0 0 auto;
}

.description {
    margin: 0 0 0.25rem 0;
    font-weight: normal;

    /* flex child */
    flex: 0 0 auto;
}

.hierarchy {
    border: 2px dashed #ebebeb;
    padding: 0.5rem;
    margin: 0;

    /* flex child */
    flex: 1 1 auto;
}