.hidden {
  display: none;
}

.panel {
  width: 510px;
  height: 100%;
  background-color: var(--primary-dark);
  position: absolute;
  top: 50px;
  right: 0;
  padding: 24px 30px;
  border-left: 1px solid var(--medium-grey);
  box-shadow: -4px 10px 8px 0px #000000;
  z-index: 15;
}

.internal-wrapper {
  position: relative;
  height: calc(100% - var(--margin) * 4);
}

.header {
  position: absolute;
  top: 0;
  right: 0;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  max-width: 410px;
}

hr {
  border: none;
  height: 1px !important;
  color: var(--medium-grey); /* old IE */
  background-color: var(--medium-grey); /* Modern Browsers */
}

.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px !important;
  position: relative;
  height: 85%;
  padding: var(--margin) 0;
}

.description-truncated {
  min-height: 30px;
  max-height: 150px;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 5 !important; /* number of lines to show */
          line-clamp: 5; 
  -webkit-box-orient: vertical !important;
  word-wrap: break-word !important;
}

.link {
  color: var(--aqua)
}

.link:hover, .link:focus {
  text-decoration: underline;
  color: var(--bright-aqua);
  cursor: pointer;
}

.list {
  /* flex parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: calc(2*var(--margin)) 0;
}

.row {
  width: 100%;
  /* flex child */
  flex: 1 1 100%;
}

.button-wrapper {
  width: fit-content;
}

.button {
  height: 33px;
  margin: var(--margin) 0;
}

.secondary-close-button {
  height: 33px;
  width: fit-content;
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  
  /* flex parent */
  display: flex;
  justify-content: flex-end;
}
