.hidden {
  display: none;
}

.panel {
  width: 510px;
  height: 100%;
  background-color: var(--primary-dark);
  position: absolute;
  top: 50px;
  right: 0;
  /* filter: drop-shadow(black 0px 0px); */
  padding: 24px 30px;
  border-left: 1px solid var(--borders-light-grey);
  box-shadow: -4px 10px 8px 0px #000000
}

.internal-wrapper {
  position: relative;
  height: calc(100% - var(--margin) * 4);
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: var(--primary-text-color);
  font-weight: 500;
}

.close-button:hover, .close-button:focus {
  background-color: var(--aqua);
  background: var(--aqua);
  color: var(--white);
  font-weight: 600;
}

.title {
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  max-width: 410px;
}

hr {
  border: none;
  height: 1px !important;
  color: var(--borders-light-grey); /* old IE */
  background-color: var(--borders-light-grey); /* Modern Browsers */
}

.content {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px !important;
  position: relative;
  height: 85%;
  padding: var(--margin) 0;
}

.list {
  /* flex parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: calc(2*var(--margin)) 0;
}

.row {
  width: 100%;
  /* flex child */
  flex: 1 1 100%;
}

.button {
  background-color: var(--aqua);
  color: var(--white);
  border: 1px solid var(--secondary-dark);
  border-radius: 18px;
  height: 33px;
  margin: var(--margin) 0;
}

.button:hover,
.button:focus {
  background-color: var(--bright-aqua);
  color: var(--white);
}

.button-label { 
  font-size: 14px;
  font-weight: 400;
}

.button-icon { 
  font-size: 15px;
  font-weight: 500;
}

.secondary-close-button {
  background-color: none;
  background: none;
  color: var(--aqua);
  border: 1px solid var(--aqua);
  border-radius: 18px;
  height: 33px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.secondary-close-button-label {
  font-weight: 400;
  font-size: 14px;
}

.secondary-close-button:hover, .secondary-close-button:focus {
  background-color: var(--aqua-secondary-hover);
  background: var(--aqua-secondary-hover);
  color: var(--bright-aqua)
}
