.container {
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
    padding: 2em 2em 2em 2em;
    min-width: 300px; /* per guidance from fluentui docs: https://developer.microsoft.com/en-us/fluentui#/controls/web/modal */
    min-height: 175px; /* per guidance from fluentui docs: https://developer.microsoft.com/en-us/fluentui#/controls/web/modal */
    max-width: 45%;
    overflow: hidden;

    /* flex parent */
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    display: flex;
    flex-direction: column;
}

/* Prevent scrolling for the overall modal;
 restrict to just the body content */
.scrollable-container {
    overflow: hidden;
    max-height: 100vh;
}

.body-wrapper {
    position: relative;
}

.scrollable-body {
    overflow-y: auto;
    max-height: 80vh;
}

.header {
    padding-bottom: 1em;
    position: sticky;
    top: 0;
    z-index: 1000; /* float on top of everything*/

    /* flex parent */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title {
    display: inline-block;
    margin: 0;

    /* flex child */
    flex: 1 1 auto;
}

.footer {
    position: sticky;
    bottom: 0;
    padding-top: 20px;
    z-index: 1000; /* float on top of everything*/

    /* flex parent */
    display: flex;
    justify-content: flex-end;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.7);
}

.vertical-gradient {
    background-image: linear-gradient(to bottom, transparent, var(--secondary-background-color));
    position: absolute;
    height: 60px;
    width: 100%;
    pointer-events: none;
    opacity: 1;
    /* Should cover the body but not the header or footer (1000)*/
    z-index: 100;
    bottom: 0;
}
