.container {
    padding: 2em 1em 2em 2em; /* account for padding applied to .scrollable-container */
    min-width: 300px; /* per guidance from fluentui docs: https://developer.microsoft.com/en-us/fluentui#/controls/web/modal */
    min-height: 175px; /* per guidance from fluentui docs: https://developer.microsoft.com/en-us/fluentui#/controls/web/modal */
    max-width: 40%;
    overflow: hidden;

    /* flex parent */
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    display: flex;
    flex-direction: column;
}

.scrollable-container {
    padding-right: 1em;
}

.header {
    padding-bottom: 1em;
    position: sticky;
    top: 0;
    z-index: 1000; /* float on top of everything*/

    /* flex parent */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.title {
    display: inline-block;
    font-weight: bold;
    margin: 0;

    /* flex child */
    flex: 1 1 auto;
}

.close-button {
    /* flex child */
    flex: 0 0 auto;
}

.close-button i {
    color: var(--primary-text-color);
}

.close-button:hover, .close-button:hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.footer {
    position: sticky;
    bottom: 0;
    padding-top: 1em;
    z-index: 1000; /* float on top of everything*/

    /* flex parent */
    display: flex;
    justify-content: flex-end;
}
