.fileTableContainer {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid var(--border-color);
    margin-bottom: 1em;
    padding: 1em;
    background: linear-gradient(to bottom, transparent, var(--secondary-background-color));
}

.file-table {
    width: 100%;
    border-collapse: collapse;
}

.file-table th,
.file-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
    white-space: nowrap;
    color: var(--primary-text-color);
}

.file-table th {
    background-color: var(--secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.file-table td:first-child {
    border-right: 1px solid var(--border-color);
}
