.cell {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    font-size: initial;
    height: 100%;
    line-height: normal;
    background-color: inherit;

    padding: 0 8px;
}

.resizable-cell {
    composes: cell;
}

.cell-content {
    overflow: hidden;
    /* Leave room for the resize handle */
    width: calc(100% - 8px);
}

.cursor-resize-either-direction {
    cursor: ew-resize;
}

.cursor-resize-larger-only {
    cursor: e-resize;
}

.resize-target {
    color: var(--highlight-background-color);
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    /* TODO: Simplify??? */
    right: calc((1em / 2) - 4px);
    text-align: center;
    top: 3px;
    touch-action: none;
    width: 5px;
}

.resize-target:hover {
    color: var(--highlight-hover-background-color);
}
