.cell {
    --padding: 16px;

    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: var(--padding);
    vertical-align: middle;
    font-size: initial;
    height: 100%;
    line-height: normal;
    background-color: inherit;
}

.cell:first-of-type {
    padding-left: calc(var(--padding) / 2);
}

.resizable-cell {
    composes: cell;
}

.cursor-resize-either-direction {
    cursor: ew-resize;
}

.cursor-resize-larger-only {
    cursor: e-resize;
}

.resize-target {
    color: var(--highlight-background-color);
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    right: calc(1em / 2);
    text-align: center;
    top: 3px;
    touch-action: none;
    width: 5px;
}

.resize-target:hover {
    color: var(--highlight-hover-background-color);
}
