.cell {
    --padding: 16px;

    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: var(--padding);
    vertical-align: middle;
    font-size: initial;
}

.cell:first-of-type {
    padding-left: calc(var(--padding) / 2);
}

.cell:last-of-type {
    padding-right: 0;
}

.resizable-cell {
    composes: cell;
}

.cursor-resize-either-direction {
    cursor: ew-resize;
}

.cursor-resize-larger-only {
    cursor: e-resize;
}

.resize-target {
    touch-action: none;
    position: absolute;
    top: 0;
    right: calc(1em / 2);
    height: 100%;
    text-align: center;
    font-weight: bold;
    color: var(--secondary-text-color);
}