.cell {
    --padding: 16px;
    --resize-target-offset: 8px;

    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: var(--padding);
    vertical-align: middle;
    font-size: initial;
    height: 100%;
    line-height: normal;
    background-color: inherit;
}


.cell:first-of-type {
    padding-left: calc(var(--padding) / 2);
}

.resizable-cell {
    composes: cell;
}

.cell-content {
    overflow: hidden;
    /* Leave room for the resize handle */
    width: calc(100% - var(--resize-target-offset));
}

.cursor-resize-either-direction {
    cursor: ew-resize;
}

.cursor-resize-larger-only {
    cursor: e-resize;
}

.resize-target {
    color: var(--highlight-background-color);
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    right: var(--resize-target-offset);
    text-align: center;
    top: 3px;
    touch-action: none;
    width: 5px;
}

.resize-target:hover {
    color: var(--highlight-hover-background-color);
}

.tooltip-host {
    min-width: 0;
    overflow: hidden;
    display: flex;
}
