.container {
    --spacing: 0.5rem;

    overflow: auto;
    max-height: 300px;
    padding: 0 var(--spacing) var(--spacing) var(--spacing);
    margin-top: var(--spacing);
}

.header {
    position: sticky;
    top: 0;
    padding-bottom: var(--spacing);
    width: 100%;
    background: rgba(255, 255, 255, 0.85);
}

.action-button {
    color: steelblue;
    cursor: pointer;
    display: flex;
    margin: 0.5rem auto 0;
}

.item {
    display: flex;
    flex-direction: row;
    align-content: center;
    font-size: 16px;
    margin-bottom: var(--spacing);
    cursor: pointer;
}

.checkbox {
    margin-right: var(--spacing);
    cursor: pointer;
}