.container {
    --spacing: 0.5rem;
    --footer-height: 16px;
    --header-height: 110px;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    height: 75vh;
    padding: 16px 30px;
    width: 35vw;
}

.bigger-header {
    --header-height: 110px;
}

.header {
    height: var(--header-height);
    padding-bottom: var(--spacing);
    width: 100%;
}

.header > h3 {
    margin-bottom: 8px;
}

.buttons {
    display: flex;
    margin: 8px 0;
}

.main-content {
    height: calc(100% - var(--header-height) - var(--footer-height));
    overflow: auto;
    padding-bottom: 40px;
}

.main-content::after {
    background-image: linear-gradient(transparent, var(--primary-background-color));
    bottom: calc(var(--footer-height) + 16px);
    content: " ";
    height: 50px;
    right: 0;
    max-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 10
}

.footer {
    display: flex;
    height: var(--footer-height);
    justify-content: right;
    position: relative;
    width: 100%;
}

.footer > p {
    font-size: var(--xs-paragraph-size);
    font-weight: 400;
    margin-top: 0;
}

.action-button {
    background-color: var(--secondary-background-color) !important;
    border-radius: var(--small-border-radius);
    color: var(--secondary-text-color) !important;
    display: flex;
    font-size: var(--l-paragraph-size);
    font-weight: 400;
    height: 34px;
    justify-content: center;
    margin-right: 16px;
    width: 118px;
}

.action-button i {
    background-color: var(--secondary-background-color) !important;
    color: var(--secondary-text-color) !important;
    font-size: smaller;
}

.action-button:hover:not(.disabled), .action-button:hover:not(.disabled) i{
    background-color: var(--highlight-background-color) !important;
    color: var(--highlight-text-color) !important;
    cursor: pointer;
}

.action-button.disabled {
    opacity: 0.5;
}

.action-button.select-all-button i {
    font-size: var(--l-paragraph-size);
}
