.collapse-button {
    color: var(--primary-sidebar-text-color);
    background-color: var(--primary-sidebar-color);
}

.collapse-button:hover {
    color: var(--highlight-text-color);
    background-color: var(--highlight-background-color);
}

.display-row, .collapse-button i {
    font-size: smaller;
}

.display-row > strong {
    font-weight: 500;
}

.container {
    border-radius: var(--small-border-radius);
    margin: 0 0 8px 0;
    overflow: hidden;
    padding: 0.4em;
    text-overflow: ellipsis;
}

.container:hover:not(.selected) {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
}

.title-container {
    display: flex;
    width: 100%;
}

.title-container > div {
    width: 100%;
}

.title-container > div > div > div {
    background-color: unset;
}

.title {
    background-color: var(--primary-sidebar-color);
    color: var(--primary-sidebar-text-color);
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
}

.title:hover {
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    padding: 0;
}

.selected {
    background-color: var(--primary-sidebar-color);
}
