.collapse-button {
    color: var(--primary-sidebar-text-color);
    background-color: var(--primary-sidebar-color);
}

.collapse-button:hover {
    color: var(--highlight-text-color);
    background-color: var(--highlight-background-color);
}

.expand-button {
    color: var(--primary-sidebar-text-color);
    background: none;
}

.expand-button:hover {
    color: var(--highlight-text-color);
    background: none;
}

.collapse-button i, .expand-button i {
    font-weight: 600;
}

.display-row {
    margin: 8px 0;
}

.display-row, .collapse-button i {
    font-size: var(--s-paragraph-size);
}

.display-row > strong {
    font-weight: 600;
}

.container {
    background-color: var(--secondary-background-color);
    border-radius: var(--small-border-radius);
    margin: 0 0 8px 0;
    overflow: hidden;
    padding: 8px 10px;
    text-overflow: ellipsis;
    box-shadow: 2px 2px 4px rgb(0 0 0 / 0.8);
    width: calc(100% - 5px);
}

.container:hover:not(.selected) {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
    cursor: pointer;
}

.container:hover:not(.selected) .expand-button {
    color: var(--highlight-text-color);
    background: none;
}

.header {
    align-items: center;
    display: flex;
    height: 34px;
    justify-content: space-between;
}

.header > h4 {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.loading-container {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
}

.title-container {
    display: flex;
    width: 100%;
}

.title-container > div {
    width: 100%;
}

.title-container > div > div > div {
    background-color: unset;
}

.title {
    background-color: var(--primary-sidebar-color);
    color: var(--primary-sidebar-text-color);
    font-size: 16px;
    font-weight: 600;
    padding: 1px 7px;
}

.title:hover {
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    padding: 0 6px;
}

.title:active, .title:focus {
    border: 1px solid var(--bright-aqua);
    border-radius: var(--small-border-radius);
    padding: 0 6px;
}
