.add-button {
    width: 92px;
}

.logo-hidden {
    content-visibility: hidden;
}

.container, .minimized-container {
    --primary-sidebar-color: var(--secondary-background-color);
    --secondary-sidebar-color: var(--primary-background-color);
    --primary-sidebar-text-color: var(--secondary-text-color);
    --secondary-sidebar-text-color: var(--primary-text-color);
    --footer-height: 40px;
    --header-height: 40px;

    background-color: var(--secondary-sidebar-color);
    color: var(--primary-sidebar-text-color);
    padding: 0.0.5em 0 0.5em 0.5em;
}

.empty-footer {
    --footer-height: 0px;
}

.hidden {
    display: none;
}

.help-button {
    background-color: var(--highlight-background-color);
    border-radius: var(--large-border-radius);
    color: var(--highlight-text-color);
}

.help-button:hover {
    background-color: var(--highlight-hover-background-color);
    color: var(--highlight-hover-text-color);
}

.help-button i:last-of-type {
    display: none;
}

.minimized-container {
    align-items: center;
    cursor: pointer;
    display: flex;
    width: 2em;
    writing-mode: vertical-rl;
}

.minimized-container:hover {
    box-shadow: 5px 0 5px -2px var(--highlight-background-color)
}

.minimized-container > p {
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transform: rotate(180deg);
    white-space: nowrap;
}

.queries-container {
    height: calc(100% - var(--header-height) - var(--footer-height));
    overflow-y: scroll;
    padding-bottom: 40px;
}

.queries-container::after {
    background-image: linear-gradient(transparent, var(--secondary-sidebar-color));
    bottom: calc(var(--footer-height) + var(--margin) / 2);
    content: " ";
    height: 50px;
    left: 0;
    max-width: var(--query-sidebar-max-width);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.minimize-bar {
    align-items: center;
    background: none;
    bottom: -5px;
    color: var(--highlight-background-color);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    right: 0;
    position: absolute;
    width: 1em;
}

.minimize-bar:hover {
    box-shadow: 5px 0 5px -2px var(--highlight-background-color)
}

.minimize-bar > i {
    font-size: xx-small;
    display: none;
}

.minimize-bar:hover > i {
    display: block;
}

.header {
    display: flex;
    justify-content: space-between;
    height: var(--header-height);
}

.import-form * {
    background-color: var(--secondary-background-color);
    border: none;
    color: var(--secondary-text-color);
}
