.label {
    align-items: center;
}

.root .label > span,
.root:hover .label > span,
.root:focus .label > span {
    color: var(--primary-text-color) !important;
}

/* All checkboxes when disabled */
.root.disabled .checkbox {
    border-color: var(--border-color) !important;
}

/* All checkboxes on hover */
.root:not(.disabled):hover .checkbox {
    border-color: var(--bright-aqua) !important;
}

.checkbox {
    background-color: var(--primary-background-color);
    border-width: 1.5px;
    border-style: solid;
    border-color: var(--aqua) !important;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    /* 
  * Replace the Fluent checkbox base transition properties, which specify
  * border/background by default and cause some visual artifacts when changing
  * border width.
  */
    transition-property: background-color, border-color;
}

/**** MARK: Unchecked */

/** Thicken border on checkbox hover */
.root:not(.checked):not(.disabled):not(.indeterminate):hover .checkbox {
    border-width: 2px;
}

/* Do not show checkmark on hover */
.root:not(.checked):hover .checkmark {
    opacity: 0;
}

/**** MARK: Checked */

/* Set BG color */
.root.checked:not(.disabled) .checkbox {
    background-color: var(--aqua);
}

/* Hover BG color */
.root.checked:not(.disabled):hover .checkbox {
    background-color: var(--bright-aqua);
}

/* Disabled BG color */
.root.checked.disabled .checkbox {
    background-color: var(--border-color) !important;
}

/* Darken checkmark, force visible state */
.root.checked .checkmark {
    color: var(--primary-background-color) !important;
}

/**** MARK: Indeterminate */

/* Override base styling of the inner square for better sizing control */
.root.indeterminate .checkbox::after {
    position: relative;
    top: unset;
    left: unset;
    border-radius: 1px;
    border-width: 0;
    width: 14px;
    height: 14px;
    background-color: var(--aqua);
}

/* Hover BG color*/
.root.indeterminate:not(.disabled):hover .checkbox::after {
    background-color: var(--bright-aqua) !important;
}

/* Disabled BG color */
.root.indeterminate.disabled .checkbox::after {
    background-color: var(--border-color);
}

/* Always hide checkmark */
.root.indeterminate .checkbox .checkmark {
    display: none;
}
