.label {
  align-items: center;
}

.root .label > span, .root:hover .label > span, .root:focus .label > span {
  color: var(--primary-text-color) !important;
}

/* Unchecked checkbox */
.checkbox, .checkbox:hover {
  background-color: var(--primary-background-color);
  border-width: 1px;
  border-style: solid;
  border-color: var(--aqua) !important;
  height: 16px;
  width: 16px;
}

/* Unchecked checkbox on hover */
.root:not(.checked):hover .checkbox {
  background-color: var(--primary-background-color);
}

/* Checked checkbox */
.checked .checkbox {
  background-color: var(--aqua);
}

/* Checked checkbox on hover */
.checked:hover .checkbox {
  background-color: var(--primary-background-color);
}

/* Unchecked checkmark */
.checkmark {
  color: var(--aqua) !important;
}

/* Checked checkmark */
.checked .checkmark {
  color: var(--primary-background-color) !important;
}

/* Checked checkmark on hover */
.checked:hover .checkmark {
  display: none;
}

