.content-container {
  justify-content: center;
  text-align: center;
}

.file-node {
  width: calc(100px + 10px + 10px + 2px);
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-text-color);
  color: var(--primary-text-color);
  padding: 10px;
  border-radius: 5px;
  overflow-wrap: anywhere;
  white-space: normal;
  display: flex;
}

.file-node > a {
  color: var(--bright-aqua);
  font-size: var(--s-paragraph-size)
}

.file-node > a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.file-node-label {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important; /* number of lines to show */
          line-clamp: 3; 
  -webkit-box-orient: vertical !important;
  word-wrap: break-word !important;
}

.current-file {
  border: 1px solid var(--aqua);
}

.current-file > a {
  color: var(--white);
}

.menu-button {
  top: -10px;
  background: none;
  position: relative;
  padding-right: 0;
}

.menu-button i {
  color: var(--aqua);
}

.menu-button:hover {
  background: none !important;
  background-color: unset !important;
}

.menu-button:hover i {
  color: var(--bright-aqua);
}

.subheader {
  font-weight: 600;
}

.handle {
  visibility: hidden;
}
