.content-container {
  margin: auto;
  text-align: center;
}

.node {
  background-color: var(--primary-dark);
  border: 1px solid var(--primary-text-color);
  border-radius: 5px;
  color: var(--primary-text-color);
  display: flex;
  /* Height is padding x2 + text */
  height: calc(20px + 2em);
  padding: 10px;
  width: 200px;
}

.node:hover {
  background-color: var(--highlight-hover-background-color);
  border-color: var(--highlight-hover-background-color);
  color: var(--highlight-hover-text-color);
}

.node > span {
  margin: auto;
}

.label:first-of-type {
  font-size: smaller;
  font-style: italic;
}

.handle {
  visibility: hidden;
}

.handle + i {
  display: none;
}
