.container, .container div > ul > li > button {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.container button i, .container li > div {
    color: var(--primary-text-color);
}

.container a:hover, .container div > ul > li > button:hover, .container > div > ul > li > button:hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color) !important;
}
