.table {
  padding-bottom: calc(2*var(--margin));
  position: relative;
}

.table-header > div {
  background-color: var(--secondary-dark);
  background: var(--secondary-dark);
  border-bottom: 1px solid var(--medium-grey);
}

.table-header span {
  color: var(--secondary-text-color);
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 400;
}

.table-header span:hover {
  background-color: var(--primary-dark);
  background: var(--primary-dark);
  color: var(--secondary-text-color);
  cursor: pointer;
}

.double-line {
  outline: transparent;
  position: relative;
  min-height: 30px;
  max-height: 40px;
  vertical-align: top;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical !important;
  word-wrap: break-word !important;
}

.error-message {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.link {
  color: var(--aqua);
}

.link:hover {
  text-decoration: underline;
  color: var(--bright-aqua);
}

/* Toggle overlay depending on screen size */
@media screen and (max-width: 1070px) {
  .overlay {
    top: 8px;
    right: 0;
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9));
    position: absolute;
    height: calc(100% - calc(4*var(--margin)));
    width: 86px;
  }
}
