.table-row {
  position: relative;
}

.table-row > div:first-child {
  color: var(--secondary-text-color);
  background-color: var(--secondary-dark);
  background: var(--secondary-dark) !important;
  border-bottom: 1px solid var(--medium-grey);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
}

.table-row > div:hover:first-child, .table-row > div:hover {
  color: var(--secondary-text-color);
  background: var(--aqua-secondary-hover) !important;
  cursor: pointer;
  border-bottom: 1px solid var(--bright-aqua);
}

.button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: calc(2*var(--margin));
  max-width: 1100px;
  width: 90vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-wrapper-hidden {
  display: none;
}

.button {
  height: 33px;
  width: fit-content;
  margin-right: 5px; 
}

.button span {
  overflow-x: clip;
}
