.root {
  position: relative;
}

.scroll {
  margin: 0;
  border: 0;
  width: 100%;
  height: calc(100% - 2 * var(--margin));
  overflow-y: auto;
  justify-content: center;
  padding-bottom: calc(2 * var(--margin))
}

.banner {
  color: var(--secondary-text-color);
  background-color: var(--primary-dark);
  min-height: 205px;
}

.banner-content {
  padding: 43px 50px;
  color: var(--secondary-text-color);
  height: 100%;
  overflow: hidden;
  padding: calc(4*var(--margin));
  max-width: 1200px;
  margin: auto;
}

.banner-header {
  font-weight: 300;
  font-size: 30px;
  line-height: 40.85px;
}

.banner-body {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-top: 10px;
}

.content {
  padding: 0 calc(4*var(--margin));
  max-width: 1200px;
  margin: auto;
  line-height: 1.5;
}

.link {
  color: var(--aqua);
}

.table-title {
  margin-top: calc(2*var(--margin));
}
