.flex-container {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    flex: auto;
    height: 100%;
    overflow: hidden;
    margin: calc(2 * var(--margin)) 0;
}

.slide-buttons-container {
    display: flex;
    justify-content: center;
    margin: 8px 0;
    width: 100%;
}

.slide-button {
    background-color: var(--aqua);
    border: 1px solid var(--aqua);
    border-radius: 50%;
    height: 15px;
    margin: 0 4px;
    width: 15px;
}

.slide-button:hover:not(.selected-slide) {
    border: 1px solid var(--white);
    cursor: pointer;
}

.selected-slide {
    background-color: var(--bright-aqua);
    border: 1px solid var(--white);
}

.carousel {
    flex: auto;
    width: 66%;
}

.carousel > img {
    min-height: 240px;
    max-height: 240px;
}

@media screen and (min-width: 1000px) {
    .carousel > p {
        height: 100px;
        max-height: 100px;
        overflow: scroll;
    }
}

.features {
    color: var(--aqua);
    width: 33%;
    flex: auto;
    margin-right: calc(2 * var(--margin));
    padding-right: calc(2 * var(--margin));
}

.features button {
    border: none;
    background: none;
    text-align: left;
    color: var(--aqua);
    margin-bottom: 10px;
    padding: 5px 10px;
    line-height: 20px;
    cursor: pointer;
}

.features button:hover,
.features button:focus,
.selected-feature {
    color: var(--bright-aqua) !important;
    background: var(--aqua-secondary-hover) !important;
    width: fit-content;
    border-radius: 4px;
}