.absolute {
    position: absolute;
}

.banner {
    width: 100%;
    background-image: url('../../../assets/banner.png');
    background-size: cover;
    background-position: right;
}

.banner-content {
    color: var(--highlight-text-color);
    display: flex;
    flex: auto;
    height: 100%;
    overflow: hidden;
    max-width: 1200px;
}

.banner-content-text {
    flex: auto;
}

.banner-header {
    margin-bottom: 24px;
}

.banner-body {
    font-size: 16px;
    line-height: 28px;
}

.video-walkthrough {
    align-items: center;
    display: flex;
}

.video-walkthrough > iframe {
    border: 0;
}

.relative {
    position: relative;
}

.section {
    border-bottom: 1px solid var(--border-color);
    padding: 40px calc(2 * var(--margin));
    max-width: 1200px;
    margin: 0 auto;
    line-height: 1.5;
}

.section:last-of-type {
    border-bottom: none;
}

.header {
    font-weight: 300;
    font-size: 24px;
    text-align: center;
    margin-bottom: var(--margin);
}

.options {
    display: flex;
    justify-content: center;
    margin-bottom: calc(2*var(--margin));
}

.option {
    flex: none;
    max-width: 340px;
    min-width: fit-content;
    background-color: var(--primary-dark);
    margin: var(--margin);
    text-align: center;
    padding: 30px 16px;
}

.option > div:first-child {
    height: 48px;
}

.option-body {
    font-size: var(--l-paragraph-size);
    font-weight: 400;
    padding: var(--margin);
}

.option-button {
    margin: auto;
    width: 166px
}

.stack{
    width: 100%;
    align-items: center;
}
.stack-item-left {
    justify-content: flex-start;
}

.stack-item-right {
    justify-content: flex-end;
}

.stack-item-30 {
    display: flex;
    width: 30%;
}

.stack-item-60 {
    display: flex;
    width: 60%;
}
