.cell {
    --padding: 16px;

    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: var(--padding);
    vertical-align: middle;
}

.cell:last-of-type {
    padding-right: 0;
}

.resizable-cell {
    composes: cell;
}

.cursor-default {
    cursor: default;
}

.cursor-resize {
    cursor: ew-resize;
}

.resize-target {
    composes: cursor-resize;
    touch-action: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    text-align: center;
    color: #ebebeb;
}