.cell {
    --padding: 16px;

    position: relative;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding-right: var(--padding);
    vertical-align: middle;
    font-size: initial;
}

.cell:last-of-type {
    padding-right: 0;
}

.resizable-cell {
    composes: cell;
}

.cursor-resize-either-direction {
    cursor: ew-resize;
}

.cursor-resize-smaller-only {
    cursor: w-resize;
}

.cursor-resize-larger-only {
    cursor: e-resize;
}

.resize-target {
    touch-action: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 15px;
    text-align: center;
    color: #ebebeb;
}