.bigger-icon {
    font-size: 1.5em;
    font-weight: bolder;
}

.button-footer {
    display: flex;
    justify-content: space-between;
}

.clear-button {
    margin-left: auto;
}

.clear-button i {
    color: var(--secondary-text-color);
}

.clear-button:hover, .clear-button:hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.header {
    align-items: center;
    display: flex;
}

.header > h4 {
    font-weight: 500;
    margin: 0;
    padding: 0
}

.tutorial-container > div {
    background-color: var(--primary-background-color);
    border-radius: var(--small-border-radius);
    color: var(--primary-text-color);
}

.tutorial-step-button {
    border: none;
    background-color: var(--highlight-background-color);
    border-radius: var(--small-border-radius);
    cursor: default;
}

.tutorial-step-button, .tutorial-step-button i {
    color: var(--highlight-text-color);
}

.tutorial-step-button:hover:not(.disabled), .tutorial-step-button:hover:not(.disabled) i {
    background-color: var(--highlight-hover-background-color);
    color: var(--highlight-hover-text-color);
    cursor: pointer;
}

.tutorial-step-button:first-child {
    margin-left: auto;
    margin-right: 2px;
}

.tutorial-step-button.disabled {
    opacity: 0.5;
}

.step-buttons > h6 {
    margin: auto 0 0 0;
}
