.container {
    overflow: auto;
    max-height: 300px;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.header {
    position: sticky;
    top: 0;
    padding: 0.5rem 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.7);
}

.item {
    display: flex;
    flex-direction: row;
    align-content: center;
}