.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.root {
    --annotation-hierarchy-max-width: 350px;
    --blue: steelblue;
    --grey: #c8c8c8;
    --purple: #827aa3;
    --breadcrumb-height: 40px;
    --file-details-width: 20%;
    --header-ribbon-height: 40px;
    --margin: 12px;
    --transition-duration: 0.5s;

    composes: relative;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    overflow: hidden; /* TODO; should be unnecessary */
}

/* Globally remove the ability to select text. Individual elements that need this should opt-in. */
.root * {
    user-select: none;
}

.header-ribbon {
    display: block;
    width: 100%;
    height: var(--header-ribbon-height);
}

.everything-except-header-ribbon {
    composes: relative;
    display: flex;
    margin: var(--margin);
    width: calc(100% - (2 * var(--margin)));
    height: calc(100% - (2 * var(--margin)) - var(--header-ribbon-height));
}

.placeholder + .everything-except-header-ribbon {
    height: calc(100% - (2 * var(--margin)));
}

.core {
    margin-right: var(--margin);
    width: calc(80% - var(--margin));
    height: 100%;

    /* flex child */
    flex: 1 0 auto;
    transition: flex var(--transition-duration);

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.placeholder + .everything-except-header-ribbon .core .fileDetails{
    margin-right: 0;
    width: 100%;
}

.breadcrumbs {
    width: 100%;
    height: var(--breadcrumb-height);
    margin-bottom: var(--margin);
}

.annotation-hierarchy-and-file-list {
    display: flex;
    width: 100%;
    height: calc(100% - var(--breadcrumb-height) - var(--margin));
}

.placeholder + .annotation-hierarchy-and-file-list {
    height: 100%;
}

.annotation-hierarchy {
    height: 100%;
    width: 30%;
    max-width: var(--annotation-hierarchy-max-width);
}

.file-list {
    height: 100%;
    width: 70%;
    margin-left: var(--margin);
}

.file-details {
    height: 100%;
    transition: flex var(--transition-duration);

    /* flex child */
    flex: 0 0 var(--file-details-width);
}

.placeholder {
    display: none;
}