.root {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 0.25rem 0;

    /* flex child */
    flex: 0 0 auto;
}

.description {
    margin: 0 0 0.25rem 0;
    font-weight: normal;

    /* flex child */
    flex: 0 0 auto;
}

.list-container {
    border: 1px solid #ebebeb;
    padding: 0.5rem;

    /* flex child */
    flex: 1 1 auto;

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.search-box {
    position: relative;
}

.search-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--grey); /* defined in App.module.css */
}

.filter-input {
    width: 100%;
    border-color: #ebebeb;
    border-style: solid;
    border-radius: 3px;
    border-width: 1px;
    padding-left: 20px;

    /* flex child */
    flex: 0 0 auto;
}

.filter-input::placeholder {
    color: var(--grey);
}

.list {
    /* flex child */
    /* flex-basis is fairly arbitrary; setting value to something low like 20px allows the list to shrink as the user would expect */
    flex: 1 1 20px;
}

.clear-filters-button, .clear-filters-button:hover, .clear-filters-button:active {
    border: none;
    border-radius: 3px;
    background-color: #003057;
    color: white;
}

.clear-filters-button:hover {
    opacity: 0.85;
}

.clear-filters-button:active {
    opacity: 0.65;
}

.clear-filters-button:disabled {
    background-color: #7c7d7f;
    opacity: 0.85;
}
