.root {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.title {
    margin: 0 0 0.25rem 0;

    /* flex child */
    flex: 0 0 auto;
}

.description {
    margin: 0 0 0.25rem 0;
    font-weight: normal;

    /* flex child */
    flex: 0 0 auto;
}

.list-container {
    border: 1px solid #ebebeb;
    padding: 0.5rem;

    /* flex child */
    flex: 1 1 auto;

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.filter-input {
    width: 100%;

    /* flex child */
    flex: 0 0 auto;
}

.list {
    /* flex child */
    /* flex-basis is fairly arbitrary; setting value to something low like 20px allows the list to shrink as the user would expect */
    flex: 1 1 20px;
}