.container {
    composes: item from "../../components/DnDList/DnDListItem.module.css";
    margin-right: 2px;
}

.disabled {
    color: gray;
}

.info {
    cursor: help;
    margin-right: 0.25rem;
    fill: var(--blue); /* defined in App.module.css */
}

.title {
    flex: 1 1 auto;
}