.bodyContainer {
    position: relative;
}

.fileTableContainer {
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 0.5em;
    background: linear-gradient(to bottom, transparent, var(--secondary-background-color));
}

.file-table {
    width: 100%;
    border-collapse: collapse;
}

.file-table th,
.file-table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    color: var(--primary-text-color);
}

.file-table th {
    background-color: var(--secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

.file-table td:first-child {
    border-right: 1px solid var(--border-color);
}

.footerButtons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.summary {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: var(--row-count-margin-top);
    color: var(--secondary-text-color);
    opacity: 0.8;
    font-size: var(--row-count-intrisic-height);
    height: var(--row-count-intrisic-height-height);
}

.totalSize {
    text-align: right;
}

.fileCount {
    text-align: right;
}

