.body-container {
    padding: 0 1em 0 0;
    position: relative;
    max-height: 55vh;
    overflow-y: auto;
}

.note {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.table-container {
    margin-bottom: 2em;
}

.table-title {
    font-size: 16px;
    font-weight: 600;
    margin: 4px 0 8px 0;
}

.table-wrapper {
    position: relative;
}

.file-table-container {
    max-height: 300px;
    overflow-y: auto;
    background-color: var(--secondary-background-color);
    position: relative;
    z-index: 1;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(transparent, black);
    pointer-events: none;
    z-index: 2;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 1;
}

.file-table th,
.file-table td {
    padding: 8px;
    text-align: left;
    white-space: nowrap;
    color: var(--primary-text-color);
    background-color: var(--secondary-color);
}

.file-table th {
    background-color: var(--secondary-background-color);
    position: sticky;
    top: 0;
    z-index: 3;
}

.file-table td:first-child {
    border-right: 1px solid var(--border-color);
}

.footer-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.summary {
    display: flex;
    justify-content: flex-end;
    gap: 1em;
    margin-top: var(--row-count-margin-top);
    color: var(--secondary-text-color);
    opacity: 0.8;
    font-size: var(--row-count-intrisic-height);
    height: var(--row-count-intrisic-height-height);
}

.total-size {
    text-align: right;
}

.file-count {
    text-align: right;
}
