.container {
    width: 100%;
    overflow: auto;

    /* flex parent */
    display: flex;
    align-items: center;
}

.title {
    font-size: 16px;
    font-weight: 500;
    padding: 0;
    margin: 0 12px 0 0;

    /* flex child */
    flex: 0 0 auto;
}

.filters {
    /* flex child */
    flex: 1 1 auto;

    /* flex parent */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
