.container {
    --filter-display-bar-height: 40px;

    position: relative;
}

.filter-display-bar {
    height: var(--filter-display-bar-height);
    transition: height var(--transition-duration); /* defined in App.module.css under .root{} */;
    margin-bottom: 0.5rem;
}

.filter-display-bar.hidden {
    height: 0;
    margin-bottom: 0;
}

.scroll-container {
    overflow-y: auto;
    width: 100%;
    height: calc(100% - var(--filter-display-bar-height));
    transition: height var(--transition-duration); /* defined in App.module.css under .root{} */;
    margin: 0;
    padding: 0;
}

.filter-display-bar.hidden ~ .scroll-container {
    height: 100%;
}

.scroll-container li {
    list-style: none;
}

.error-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    color: maroon;
    font-size: 2rem;
    text-align: center;
}

.error-message p {
    margin: 0;
}
