.container {
    --filter-display-height: 50px;
    --filter-display-margin-bottom: 5px;
    position: relative;

    /* flex parent */
    display: flex;
    flex-direction: column;
}

.filter-display-bar {
    margin-bottom: var(--filter-display-margin-bottom);

    /* flex child */
    flex: 1 1 var(--filter-display-height);
}

.filter-display-bar.hidden {
    flex: 0;
    margin-bottom: 0;
}

.scroll-container {
    overflow-y: auto;
    width: 100%;
    margin: 0;
    padding: 0;

    /* flex child */
    --flex-basis: calc(100% - (var(--filter-display-height) + var(--filter-display-margin-bottom)));
    flex: 1 1 var(--flex-basis);
}

.filter-display-bar.hidden ~ .scroll-container {
    height: 100%;
}

.scroll-container li {
    list-style: none;
}

.error-message {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;

    color: maroon;
    font-size: 2rem;
    text-align: center;
}

.error-message p {
    margin: 0;
}
