.tree-node-container {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.directory-header {
    cursor: pointer;
    user-select: none;

    /* flex parent */
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.folder-icon {
    margin-left: 8px; /* if this is updated, need to update padding applied to FileLists in DirectoryTreeNode.tsx */
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}

.children {
    /* flex child */
    flex: 1 1 auto;
    height: auto;
}

.children.collapsed {
    height: 0;
    padding: 0;
}

.file-list {
    height: 300px;
    padding: 0.5rem 0;
}