.tree-node-container {
    /* flex parent */
    display: flex;
    flex-direction: column;
}

.directory-header {
    cursor: pointer;

    /* flex parent */
    display: flex;
    margin: 0.25rem 2px;
}

.focused {
    border: 2px solid #d4e3fc;
    margin: calc(0.25rem - 2px) 0;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.folder-icon {
    margin-left: 8px; /* if this is updated, need to update padding applied to FileLists in DirectoryTreeNode.tsx */
}

.error-icon {
    fill: maroon;
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}

.children {
    /* flex child */
    flex: 1 1 auto;
    height: auto;
}

.children.collapsed {
    padding: 0;
}

.file-list {
    padding: 0.5rem 0.25rem 0.5rem 0;
}