.directory-container {
    cursor: pointer;
    user-select: none;

    /* flex parent */
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.folder-icon {
    margin-left: 0.5rem;
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}
