.row {
    border: 1px solid #ebebeb;
}

.cell {
    height: auto;
    padding: 3px;
    overflow-wrap: anywhere;
    white-space: normal;
}

.row-key {
    border-right: 1px solid #ebebeb;
    font-weight: 500;
}

.row-value {
    border-left: 1px solid #ebebeb;
    margin-left: -1px;
}
