.expandable {
    position: absolute;
    right: 0;
    height: 100%;
    border: 1px solid #ebebeb;
    background-color: rgba(255, 255, 255, 0.7);
    transition: width var(--transition-duration); /* defined in App.module.css under .root{} */
    overflow: hidden;
}

.default {
    width: var(--file-details-width); /* defined in App.module.css under .root{} */
}

.maximized {
    /* 100% of the nearest relatively sized container, which _needs_ to be the .everything-except-header-ribbon div
    rendered in App.tsx */
    width: 100%;
}

.windowButtons {
    width: 100%;
    height: var(--breadcrumb-height); /* defined in App.module.css under .root{} */

    /* flex parent */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.hidden {
    visibility: hidden;
}

.file-thumbnail-container {
    margin: var(--margin) 10px 10px 10px; /* defined in App.module.css under .root{} */
    height: 200px;
    transition: width var(--transition-duration);
}


.file-thumbnail-container.thumbnail-default {
    width: 90%;
}

.file-thumbnail-container.thumbnail-maximized {
    width: 20%;
}

.thumbnail-skeleton {
    width: 100%;
    height: 200px;
    background-color: #ebebeb;
}
