.row-container {
    border-bottom: 2px solid var(--border-color);
    padding-top: 8px
}

.row {
    width: 100%;

    /* flex parent */
    display: flex;
    flex-direction: row;
}

.cell {
    height: auto;
    padding: 0 3px 0 0;
    overflow-wrap: anywhere;
    white-space: normal;
}

.cell:first-of-type {
    padding-left: 0;
}

.key {
    /* flex child */
    flex: 1 1 40%;

    display: flex;
    font-weight: 500;
    padding-right: var(--margin);
}

.key > span:last-child {
    white-space: nowrap;
}

.key-value {
    user-select: text;
}

.small-font {
    font-size: unset;
}

.value {
    /* flex child */
    flex: 1 1 60%;

    /* Allow whitespace to be rendered (including carriage returns & new lines) */
    white-space: pre-wrap; 

    display: flex;
    align-items: center;
    min-height: 18px;
}

/* TODO: Improve this separator (visually) */
.separator {
    border-bottom: 2px solid var(--border-color);
    border-right: 2px solid var(--border-color);
    border-left: 2px solid var(--border-color);
    padding: 8px 0;
    width: 100%;
}
