.container {
  --diagram-header-height: 63px;

  background-color: var(--primary-background-color);
}

.header {
  border-bottom: 1px solid var(--accent-dark);
  box-shadow: inset 0 5px 8px -4px black;
  color: var(--primary-text-color);
  display: flex;
  /* Right padding is left padding + back button width */
  padding: 1em calc(2em + 88px) 1em 2em; /* TODO: */
  height: var(--diagram-header-height);
}

.header > h2 {
  margin: auto;
}

.network-graph {
  position: relative;
  height: calc(100vh - var(--diagram-header-height) - var(--header-bar-height));
  overflow-y: hidden;
  overflow-x: hidden;
}
