.container {
  --diagram-header-height: 63px;

  background-color: var(--primary-background-color);
}

.header {
  border-bottom: 1px solid var(--accent-dark);
  box-shadow: inset 0 5px 8px -4px black;
  color: var(--primary-text-color);
  display: flex;
  /* Right padding is left padding + back button width */
  padding: 1em calc(2em + 88px) 1em 2em; /* TODO: */
  height: var(--diagram-header-height);
}

.header > h2 {
  margin: auto;
}

.network-graph {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--diagram-header-height) - var(--header-bar-height));
  overflow-y: hidden;
  overflow-x: hidden;
}

@keyframes slideRightOff {
  from {
    transform: translateX(0); /* Start at its current horizontal position */
  }
  to {
    transform: translateX(100vw); /* Move 100% of viewport width to the right */
  }
}

.hidden {
  animation-name: slideRightOff;
  animation-duration: 1s; /* Adjust duration as needed */
  animation-timing-function: ease-in; /* Or other timing functions like linear, ease-out, etc. */
  animation-fill-mode: forwards; /* Keeps the element in its final state after animation */
}
