.root {
    --pagination-height: 40px;
    --padding: 10px;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    min-width: 175px;
    max-width: 95%;
    overflow: auto;
    width: var(--file-details-width-small); /* defined in global.css and used by resize handle */
}

.expandable-transition {
    transition: width var(--transition-duration); /* defined in App.module.css under .root{} */
}

.minimized {
    overflow: hidden;
}

.maximized {
    /* 100% of the nearest relatively sized container, which _needs_ to be the .everything-except-header-ribbon div
    rendered in App.tsx */
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.pagination {
    width: 100%;
    height: var(--pagination-height);
}

.pagination-and-content {
    padding: 12px 12px 0 16px;
    width: 100%;
}

.overflow-container {
    overflow: auto;
    padding-bottom: 1.25em;
    padding-right: var(--margin);
    width: 100%;
    height: calc(100% - var(--pagination-height));
}

.overflow-container::after {
    background-image: linear-gradient(transparent, var(--primary-background-color));
    bottom: 0;
    content: " ";
    height: 50px;
    right: 0;
    max-width: var(--file-details-width-small);
    position: absolute;
    width: 100%;
    z-index: 11;
}

.file-actions {
    /* flex parent */
    display: flex;
}

.file-actions > * {
    margin: 0 5px 0 5px;
}

.file-actions > *:first-child {
    margin-left: 0;
}

.file-actions > *:last-child {
    margin-right: 0;
    width: 100%;
}

.annotation-list {
    padding: var(--padding) 0 35px 0;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
    padding-bottom: var(--padding);
}

.thumbnail {
    margin: 0 auto 10px; /* --margin defined in App.module.css under .root{} */
    height: 200px;
    transition: width var(--transition-duration);
}

.thumbnail-skeleton {
    width: 100%;
    height: 200px;
    background-color: var(--primary-background-color);
}


.resize-handle {
    --resize-handle-width: 15px;

    align-items: center;
    background: none;
    bottom: -5px;
    border-left: 1px solid var(--border-color);
    color: var(--highlight-background-color);
    cursor: col-resize;
    display: flex;
    height: calc(100% + 12px);
    right: calc(var(--file-details-width-small) - var(--resize-handle-width));
    justify-content: center;
    position: absolute;
    width: var(--resize-handle-width);
    z-index: 11;
}

.resize-handle:hover {
    border-left: 2px solid var(--bright-aqua);
    width: var(--resize-handle-width);
    z-index: 9999;
}

.resize-handle > div {
    height: 15px;
    width: 2px;
    background-color: var(--highlight-background-color);
}

.resize-handle:hover > div {
    background-color: var(--highlight-hover-background-color);
    transform: translateX(-0.5px);
}

.file-name {
    padding: var(--padding) 0 0;
    text-align: center;
    user-select: text !important;
    word-break: break-all;
}

.tertiary-button {
    padding: 3px;
    margin-right: 5px;
}

.open-with-button { 
    width: fit-content;
}

.open-with-button span {
    /* swap text and icon */
    flex-direction: row-reverse;
}

.open-with-button i {
    /* override primary button defaults */
    padding: 0 0 0 6px;
}

.stack {
    width: 100%;
    align-items: center;
}

.header {
    border-bottom: 1px solid var(--medium-grey);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-bottom: var(--margin);
}

.left-align {
    display: flex;
    flex: none;
    align-items: center;
}

.gutter {
    flex: 1;
}

.right-align {
    display: flex;
    flex: none;
    align-items: center;
    position: relative;
    padding: 5px 0;
}

@media screen and (max-width: 1500px) { 
    .root {
        width: var(--file-details-width-med)
    }

    .resize-handle {
        right: calc(var(--file-details-width-med) - var(--resize-handle-width));
    }

    .overflow-container::after {
        right: calc(var(--file-details-width-med) - var(--resize-handle-width));
    }
}
