.row {
    border: 1px solid #ebebeb;

    /* flex parent */
    display: flex;
    flex-direction: row;
}

.cell {
    height: auto;
    padding: 3px;
    overflow-wrap: anywhere;
    white-space: normal;
}

.key {
    /* flex child */
    flex: 1 1 40%;

    border-right: 1px solid #ebebeb;
    font-weight: 500;
}

.value {
    /* flex child */
    flex: 1 1 60%;

    border-left: 1px solid #ebebeb;
    margin-left: -1px;
    /* Allow whitespace to be rendered (including carriage returns & new lines) */
    white-space: pre-wrap; 
}
