.row {
    border-top: 1px solid var(--primary-background-color);
    border-bottom: 1px solid var(--primary-background-color);

    /* flex parent */
    display: flex;
    flex-direction: row;
}

.row:first-child {
    border-top: none;
}

.row:last-child {
    border-bottom: none;
}

.cell {
    height: auto;
    padding: 3px 3px 3px 0;
    overflow-wrap: anywhere;
    white-space: normal;
}

.cell:first-of-type {
    padding-left: 0;
}

.key {
    /* flex child */
    flex: 1 1 40%;

    font-weight: 500;
}

.small-font {
    font-size: unset;
}

.value {
    /* flex child */
    flex: 1 1 60%;

    /* Allow whitespace to be rendered (including carriage returns & new lines) */
    white-space: pre-wrap; 
}
