.root {
    --window-buttons-height: var(--url-bar-height); /* defined in App.module.css under .root{} */
    --pagination-height: var(--url-bar-height); /* defined in App.module.css under .root{} */
    --padding: 10px;
    --resize-handle-width: 5px;
}

.expandable {
    position: absolute;
    right: 0;
    height: calc(100% - var(--margin) * 2);
    border: 1px solid var(--primary-background-color);
    background-color: var(--secondary-background-color);
    overflow: auto;
    display: flex;
    justify-content: center;
}

.expandable::after {
    background-image: linear-gradient(transparent, var(--secondary-background-color));
    bottom: 0;
    content: " ";
    height: 50px;
    right: 0;
    max-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 11
}

.expandable-transition {
    transition: width var(--transition-duration); /* defined in App.module.css under .root{} */
}

.window-buttons {
    width: 100%;
    height: var(--window-buttons-height);

    /* flex parent */
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    position: absolute;
    right: 0;
}

.window-buttons-container {
    width: 100%;
    height: var(--window-buttons-height);
}

.default {
    width: var(--file-details-width); /* defined in App.module.css under .root{} */
    min-width: 175px;
    max-width: 95%;
}

.minimized {
    overflow: hidden;
}

.maximized {
    /* 100% of the nearest relatively sized container, which _needs_ to be the .everything-except-header-ribbon div
    rendered in App.tsx */
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.pagination {
    width: 100%;
    height: var(--pagination-height);

    /* flex parent */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content-container {
    --teaser-height: 3rem;

    position: relative;
    width: 100%;
    height: calc(100% - var(--window-buttons-height) - var(--pagination-height) - 28px);
}

.overflow-container {
    --padding-bottom: 1.5em;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.file-actions {
    padding: 0 var(--padding) 0 var(--padding);

    /* flex parent */
    display: flex;
}

.file-actions > * {
    margin: 0 5px 0 5px;
}

.file-actions > *:first-child {
    margin-left: 0;
}

.file-actions > *:last-child {
    margin-right: 0;
    width: 100%;
}

.font-size-button-container {
    display: flex;
    height: min-content;
}

.font-size-button {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    border-radius: 0;
    font-size: 10px;
    font-weight: normal;
    height: min-content;
    padding: 0.25em;
    width: min-content;
}

.font-size-button:hover:not(.disabled), .font-size-button:hover:not(.disabled) i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.disabled {
    cursor: default;
    opacity: 0.3
}

.font-size-button:first-child {
    border-right: 1px solid var(--secondary-background-color);
    margin-left: auto;
}

.annotation-list {
    padding: var(--padding) var(--padding) 35px var(--padding);
}

.file-thumbnail-container {
    margin: 0 auto 10px; /* --margin defined in App.module.css under .root{} */
    height: 200px;
    transition: width var(--transition-duration);
}

.no-thumbnail {
    fill: var(--primary-background-color);
}

.file-thumbnail-container.thumbnail-default {
    width: 90%;
}

.file-thumbnail-container.thumbnail-maximized {
    width: 20%;
}

.thumbnail-skeleton {
    width: 100%;
    height: 200px;
    background-color: var(--primary-background-color);
}

.file-details-content {
    overflow-y: hidden;
    width: 96%;
}

.resize-handle {
    width: var(--resize-handle-width);
    height: 100%;
    cursor: col-resize;
    position: absolute;
    left: 0px;
}

.resize-handle:hover {
    background-color: var(--highlight-background-color);
}

.icon-button {
    background-color: var(--primary-background-color);
    border: none;
    color: var(--primary-text-color);
    height: 30px;
    max-width: 50%;
    width: 100%;
}

.icon-button span {
    font-weight: normal;
}

.icon-button:hover, .icon-button:active {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.icon-button i, .icon-button:hover i {
    color: var(--primary-text-color);
}
