.root {
    --pagination-height: 40px;
    --padding: 10px;

    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    min-width: 175px;
    max-width: 95%;
    overflow: auto;
    width: var(--file-details-width); /* defined in App.module.css under .root{} and used by resize handle */
}

.expandable-transition {
    transition: width var(--transition-duration); /* defined in App.module.css under .root{} */
}

.minimized {
    overflow: hidden;
}

.maximized {
    /* 100% of the nearest relatively sized container, which _needs_ to be the .everything-except-header-ribbon div
    rendered in App.tsx */
    width: 100%;
}

.hidden {
    visibility: hidden;
}

.pagination {
    width: 100%;
    height: var(--pagination-height);

    /* flex parent */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pagination-and-content {
    padding: 12px 12px 0 12px;
    width: 100%
}

.overflow-container {
    overflow: auto;
    padding-bottom: 1.25em;
    width: 100%;
    height: calc(100% - var(--pagination-height));
}

.overflow-container::after {
    background-image: linear-gradient(transparent, var(--primary-background-color));
    bottom: 0;
    content: " ";
    height: 50px;
    right: 0;
    max-width: 100%;
    position: absolute;
    width: 100%;
    z-index: 11;
}

.file-actions {
    /* flex parent */
    display: flex;
}

.file-actions > * {
    margin: 0 5px 0 5px;
}

.file-actions > *:first-child {
    margin-left: 0;
}

.file-actions > *:last-child {
    margin-right: 0;
    width: 100%;
}

.annotation-list {
    padding: var(--padding) 0 35px 0;
}

.thumbnail-container {
    display: flex;
    justify-content: center;
}

.thumbnail {
    margin: 0 auto 10px; /* --margin defined in App.module.css under .root{} */
    height: 200px;
    transition: width var(--transition-duration);
}

.thumbnail-skeleton {
    width: 100%;
    height: 200px;
    background-color: var(--primary-background-color);
}


.resize-handle {
    --resize-handle-width: 10px;

    align-items: center;
    background: none;
    bottom: -5px;
    border-left: 1px solid var(--border-color);
    color: var(--highlight-background-color);
    cursor: col-resize;
    display: flex;
    height: calc(100% + 12px);
    right: calc(var(--file-details-width) - var(--resize-handle-width));
    justify-content: center;
    position: absolute;
    width: var(--resize-handle-width);
    z-index: 11;
}

.resize-handle:hover {
    border-left: 2px solid var(--bright-aqua);
    width: 10px;
    z-index: 9999;
}

.resize-handle > div {
    height: 15px;
    width: 2px;
    background-color: var(--highlight-background-color);
}

.resize-handle:hover > div {
    background-color: var(--highlight-hover-background-color);
    transform: translateX(-0.5px);
}

.file-name {
    padding: var(--padding) 0;
    text-align: center;
    user-select: text !important;
    word-break: break-all;
}
