.list {
  /* flex parent */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.row {
  width: 100%;

  /* flex child */
  flex: 1 1 100%;
}

.status-indicator {
  font-style: italic;
}