.command-button {
    border-radius: 0;
}

.command-button i:last-of-type {
    display: none;
}

.command-button span:not(:last-child) {
    width: 100%;
}

.button-menu, .button-menu button {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}

.button-menu i, .button-menu li > div {
    color: var(--secondary-text-color);
}

.button-menu :is(a, button):hover, .button-menu button:hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color) !important;
}
