.root {
    --primary-ribbon-color:var(--primary-brand-dark-blue);
    /* Color is lightened tint of --primary-brand-dark-blue defined in App.module.css */
    --secondary-ribbon-color: #1A4A71;
    --collapsed-ribbon-height: 1.5em;
    --ribbon-padding: 6px;

    /* Defined in App.module.css */
    background-color: var(--primary-ribbon-color);
    border-bottom: 1px solid var(--secondary-ribbon-color);
    color: white;
    display: flex;
    height: var(--header-ribbon-height);
}

.collapsed {
    height: var(--collapsed-ribbon-height);
}

.header-bar {
    cursor: pointer;
    display: flex;
    height: var(--collapsed-ribbon-height);
    padding: var(--ribbon-padding) var(--ribbon-padding) var(--ribbon-padding) 0;
}

.header-bar:hover {
    background-color: var(--secondary-ribbon-color);
}

.control-group {
    display: flex;
    min-width: 150px;
    margin: 0;
    max-width: 25%;
    padding: 0 var(--margin) var(--margin) var(--margin);
    padding-top: calc(var(--margin) - var(--ribbon-padding));
    text-align: center;
    width: 100%;
}

h5.control-group {
    justify-content: center;
    padding: 0;
}

.control-group-input-group {
    width: 100%;
}

.control-group-dropdown {
    background-color: var(--secondary-ribbon-color);
    border: none;
    color: white;
}

.control-group-dropdown:hover {
    background-color: white;
    color: var(--primary-ribbon-color);
}

.control-group-checkbox-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px;
}

.control-group-checkbox {
    cursor: not-allowed;
    display: flex;
}

.control-group-checkbox-label {
    font-weight: normal;
    margin: 0.25em 0 0 0.25em;
}

.control-group-buttons {
    margin-left: 5px;
    width: 45px;
}

.control-group-button {
    background-color: var(--secondary-ribbon-color);
    border-radius: 10px;
    color: white;
    height: 25px;
    margin-bottom: 5px;
    width: 100%;
}

.control-group-button:hover {
    background-color: white;
    color: var(--primary-ribbon-color);
}
