.root {
    --primary: var(--primary-brand-purple);
    --secondary: var(--secondary-brand-purple);
    --tertiary: lightgrey;
    --text: white;
    --collapsed-height: 1.5em;
    --ribbon-padding: 6px;

    /* Defined in App.module.css */
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    color: white;
    display: flex;
    height: var(--header-ribbon-height);
}

.collapsed {
    height: var(--collapsed-height);
}

.header-bar {
    cursor: pointer;
    display: flex;
    height: var(--collapsed-height);
    padding: var(--ribbon-padding) var(--ribbon-padding) var(--ribbon-padding) 0;
}

.header-bar:hover {
    background-color: var(--secondary);
}

.control-group {
    display: flex;
    min-width: 150px;
    margin: 0;
    max-width: 25%;
    padding: 0 var(--margin) var(--margin) var(--margin);
    padding-top: calc(var(--margin) - var(--ribbon-padding));
    text-align: center;
    width: 100%;
}

h5.control-group {
    justify-content: center;
    padding: 0;
}

.control-group-input-group {
    width: 100%;
}

.control-group-dropdown {
    background-color: var(--secondary);
}

.control-group-checkbox-group {
    display: flex;
    justify-content: space-around;
    margin: 4px 0;
}

.control-group-checkbox {
    color: white;
}

.control-group-buttons {
    margin-left: 5px;
    width: 45px;
}

.control-group-button {
    border-radius: 10px;
    height: 25px;
    margin-bottom: 5px;
    width: 100%;
}

.control-group-button {
    background-color: var(--secondary);
    border-radius: 10px;
    color: black;
    height: 25px;
    margin-bottom: 5px;
    width: 100%;
}
