.container {
    position: absolute;
    margin-top: 25px;
    width: 50vw; /* half the width of the window */
    left: 50%; /* push the left side of the element in to the mid-point of the window... */
    transform: translateX(-50%); /* ... then pull it back 50% of its own width (accomplishing centering) */
}

.centeringParent {
    display: flex;
    font-size: 1.5em;
    line-height: normal;
}

.spinner {
    margin-right: 0.5em;
}

.spinner > div {
    border-color: var(--secondary-text-color) var(--secondary-background-color) var(--secondary-background-color);
 }

.message-bar {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
}

.message-bar button i {
    color: var(--secondary-text-color) !important;
}

.success {
    background-color: green;
    color: white;
 }

.success button i {
    color: white !important;
}

.error {
    background-color: var(--error-color);
    color: white;
}

.error button i {
    color: white !important;
}

.progress-indicator > div > div:first-child {
    background-color: var(--secondary-text-color);
}

.progress-indicator > div > div:last-child {
    background-color: var(--highlight-background-color);
}
