.container {
    position: absolute;
    padding-bottom: 30px;
    width: 40vw; 
    height: 100%;
    left: 30px;
    z-index: 99999999999;
    pointer-events: none;
}

.icon-container {
    padding-top: 4px;
}

.icon-container-hidden {
    width: 10px;
    display: none;
}

.centeringParent {
    display: flex;
    font-size: var(--l-paragraph-size);
    font-weight: 500;
    line-height: normal;
}

.spinner {
    margin: 0 0.5em;
}

.spinner > div {
    border-color: var(--info-status-background-color) var(--info-status-text-color) var(--info-status-text-color);
}

.message-bar {
    border-radius: 4px;
    background-color: var(--info-status-background-color);
    color: var(--info-status-text-color);
    border: solid 1px;
    font-size: var(--l-paragraph-size);
    pointer-events: all;
}

.message-bar i {
    color: var(--info-status-text-color) !important;
    font-weight: 600;
}

.message-bar a, .message-bar .link {
    color: inherit;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px;
}

.message-bar-actions {
    margin: 0px 18px 10px 10px;
}

.message-bar-actions button {
    color: var(--info-status-text-color) !important;
}

.message-bar-inner-text {
    margin-right: 10px;
    width: 100%;
}

.success {
    background-color: var(--success-status-background-color);
    color: var(--success-status-text-color);
}

.success i {
    color: var(--success-status-text-color) !important;
}

.warning {
    background-color: var(--warning-status-background-color);
    color: var(--warning-status-text-color);
}

.warning i {
    color: var(--warning-status-text-color) !important;
}

.error {
    background-color: var(--error-status-background-color);
    color: var(--error-status-text-color);
}

.error i {
    color: var(--error-status-text-color) !important;
}

.progress-indicator > div > div:first-child {
    height: 3px;
    background-color: var(--secondary-dark);
}

.progress-indicator > div > div:last-child {
    height: 3px;
    background-color: var(--info-status-text-color);
}
