.search-bar-container {
    border: solid black 1px;
    border-radius: 3px;
    display: flex;
    margin-bottom: 5px;
}

.filter-input div i, .cancel-button, .cancel-button:hover {
    color: var(--primary-brand-purple); /* defined in App.module.css */
}

.filter-input, .search-box-selector, .date-range-box {
    border: none;
    flex: auto;
}

.search-box-selector, .date-range-box {
    display: flex;
}

.file-attribute-selector {
    width: 100%;
    max-width: 185px;
}

.file-attribute-selector div span:first-child {
    border: none;
    border-right: 1px dashed black;
}

.date-range-box {
    max-height: 32px;
    overflow: hidden;
}

.date-range-separator {
    display: flex;
    font-size: small;
    padding: 0 2px;
}

.date-range-separator i {
    margin: auto;
}
