.icon-button, .icon-button:hover {
    background-color: unset;
    color: unset;
    font-weight: 600;
    height: 37px;
    max-width: 22px;
    width: 100%;
}

.icon-button:hover {
    background-color: unset;
    color: var(--highlight-text-color);
}

.icon-button i {
    font-size: 14px;
    font-weight: 600;
}

.icon {
    align-items: center;
    display: flex;
    font-size: smaller;
    padding-right: 8px;
}

.hidden-inner-icon i:last-of-type {
    display: none;
}

.row {
    display: flex;
    height: 37px;
    width: 100%;
    margin: 2px 8px;
    padding: 0 8px;
}

.interactive {
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    max-width: calc(100% - 16px);
}

.interactive:hover {
    background-color: var(--border-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.grabbable:hover {
    cursor: grab;
}

.row-title {
    align-items: center;
    display: flex;
    max-width: calc(100% - 22px);
    width: 100%;
}

.interactive > .row-title:hover {
    color: var(--highlight-text-color);
}

.row-title > i {
    font-weight: 600;
}

.row-title > div {
    width: 100%;
}

.row-title > p, .row-title > div > p {
    font-size: var(--s-paragraph-size);
    margin: 0;
    display: block;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: min-content;
}

.dynamic-row-title {
    max-width: calc(100% - 22px);
    width: min-content;
}

.dynamic-row-title.shortened-row-title {
    max-width: calc(100% - 44px);
}
