.icon-button, .icon-button:hover {
    background-color: unset;
    color: unset;
    width: 22px;
}

.icon-button:hover {
    background-color: unset;
    color: var(--highlight-text-color);
}

.icon-button i {
    font-size: 14px;
    font-weight: 600;
}

.icon {
    align-items: center;
    display: flex;
    font-size: smaller;
    padding-right: 8px;
}

.hidden-inner-icon i:last-of-type {
    display: none;
}

.row {
    display: flex;
    height: 34px;
    width: 100%;
    margin: 0 10px;
    padding: 0 6px 0 10px;
}

.interactive {
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    margin: calc(var(--margin) / 4) 0;
}

.interactive:hover {
    background-color: var(--border-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.grabbable:hover {
    cursor: grab;
}

.row-title {
    display: flex;
    max-width: calc(100% - 22px);
    width: 100%;
}

.interactive > .row-title:hover {
    color: var(--highlight-text-color);
}

.row-title > p {
    align-items: center;
    display: flex;
    font-size: smaller;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
}

.dynamic-row-title {
    max-width: calc(100% - 22px);
    width: min-content;
}

.dynamic-row-title.shortened-row-title {
    max-width: calc(100% - 44px);
}
