.header {
  background-color: var(--primary-dark);
  border-bottom: 1px solid var(--medium-grey);
  color: var(--secondary-text-color);
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 8px 10px;
  filter: drop-shadow(black 0px 4px 8px);
}

.title {
  border-left: 1px solid var(--secondary-text-color);
  color: var(--highlight-text-color);
  height: 24px;
  padding: 2px 0 0 1em;
  margin: 6px 0 0 1em;
  text-decoration: none;
}

.left {
  width: 50%;
  display: flex;
  flex: none;
  padding-top: 4px;
}

.right {
  width: 50%;
  display: flex;
  flex: none;
  justify-content: flex-end;
  align-items: center;
}

.route-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.route-link:hover, .route-link:focus  {
  color: var(--white)
}

.upload-button {
  background-color: var(--primary-dark); 
  color: var(--aqua);
  border: 1px solid var(--aqua);
  border-radius: 18px;
}

.upload-button:hover, .upload-button:focus {
  background-color: var(--aqua-secondary-hover);
  color: var(--aqua);
}

.upload-button-label { 
  font-weight: 400; 
  font-size: 14px;
  text-wrap: nowrap;
}
