.header {
  background-color: var(--primary-dark);
  border-bottom: 1px solid var(--medium-grey);
  color: var(--secondary-text-color);
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 8px 10px;
  height: 60px;
  filter: drop-shadow(black 0px 4px 8px);
}

.help-menu-button {
  background-color: var(--primary-dark);
  color: var(--secondary-text-color);
  border: none;
  border-radius: 4px;
}

.help-menu-button:hover, .help-menu-button:focus {
  background-color: var(--accent-dark);
  border: none;
  color: var(--highlight-text-color);
}

.help-menu-label {
  font-weight: 400;
  font-size: 16px;
}

.title {
  /* Bring element to the left of screen */
  display: flex;
  flex: none;

  color: var(--highlight-text-color);
  height: 100%;
  align-items: center;
  text-decoration: none;
}

.title > img {
  margin: 0 12px 0 0;
}

.title > div > h6 {
  color: var(--light-grey);
  font-style: italic;
  font-weight: 100;
  margin: 0;
}

.right {
  display: flex;
  flex: none;
  justify-content: flex-end;
  align-items: center;
}

.route-link {
  text-decoration: none;
  color: var(--secondary-text-color);
  font-size: var(--l-paragraph-size);
  font-weight: 400;
}

.route-link:not(:last-of-type) {
  margin-right: 16px;
}

.route-link:hover, .route-link:focus  {
  color: var(--white)
}

.start-button {
  width: 126px;
}

.stack {
  width: 100%;
  margin-left: 20px;
}

.stack-item {
  display: flex;
  justify-content: right;
  align-items: center;
}
