.header {
  background-color: var(--primary-dark);
  border-bottom: 1px solid var(--medium-grey);
  color: var(--secondary-text-color);
  display: flex;
  overflow: hidden;
  width: 100%;
  padding: 8px 10px;
  position: relative;
  z-index: 100000;
  min-height: var(--header-bar-height);
  filter: drop-shadow(black 0px -1px 8px);
}

.title {
  /* Bring element to the left of screen */
  display: flex;
  flex: none;

  color: var(--highlight-text-color);
  height: 100%;
  align-items: center;
  text-decoration: none;
  margin: auto 0 auto 1.5px;
}

.title > img {
  margin: 0 10px 0 0;
}

.title > div {
  display: flex;
  flex-direction: column;
  height: 36px;
  justify-content: space-between;
  padding-bottom: 1px;
}

.title > div > h6 {
  color: #7C7D7F;
  font-weight: 100;
  margin: 0;
}
