.help-menu-button {
    background-color: var(--primary-dark);
    color: var(--secondary-text-color);
    border: none;
    border-radius: 4px;
}
  
.help-menu-button:hover, .help-menu-button:focus {
    background-color: var(--accent-dark);
    border: none;
    color: var(--highlight-text-color);
}
  
.help-menu-label {
    font-weight: 400;
    font-size: 16px;
}

.help-menu-button {
    padding: 0 8px 0 0;
    margin: 0 8px 0 0;
}

.right {
    display: flex;
    flex: none;
    align-items: center;
    margin-left: auto;
}

.route-link {
    text-decoration: none;
    color: var(--secondary-text-color);
    font-size: var(--l-paragraph-size);
    font-weight: 400;
    margin: 0 8px;
}
  
.route-link:hover, .route-link:focus  {
    color: var(--white)
}

.small-menu {
    align-items: center;
    display: flex;
    margin-left: auto;
}

.small-menu i {
    /* Center menu icon */
    transform: translateX(-2px);
}

.start-button {
    width: 126px;
}

/**
  Toggle menu type depending on screen size.
*/
@media screen and (min-width: 750px) {
    .small-menu {
      display: none;
    }
}
@media screen and (max-width: 749px) {
    .large-menu {
      display: none
    }
}
