.search-box-wrapper {
    display: flex;
    width: 100%;
}

.search-box {
    flex-grow: 1;
}

.search-box, .search-box > :is(div, input), .search-box :is(button, i) {
    background-color: var(--secondary-background-color) !important;
    color: var(--secondary-text-color) !important;
}

.search-box:hover {
    border: 1px solid var(--border-color);
}

.search-box:focus, .search-box:focus-visible {
    outline: none;
}

.search-box > div:hover > button, .search-box > div:hover > button i {
    background-color: var(--highlight-background-color) !important;
    color: var(--highlight-text-color) !important;
}

.search-box > *::placeholder {
    color: var(--secondary-text-color);
    font-style: italic;
}

.search-box::after{
    border: 1px solid var(--aqua);
}

.submit-button {
    height: 31px;
    min-width: 30px;
    margin-left: 8px;
}

.submit-button, .submit-button i {
    font-weight: 400;
    background-color: var(--aqua) !important;
    color: var(--highlight-text-color)
}

.submit-button:hover, .submit-button:hover i {
    background-color: var(--bright-aqua) !important;
    color: var(--highlight-text-color)
}
