.directory-container {
    cursor: pointer;
    user-select: none;

    /* flex parent */
    display: flex;
    align-items: center;
    margin: 0.25rem 0;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.folder-icon {
    margin-left: 0.5rem;
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}

.file-list {
    transition: height 0.5s;
    height: 30vh;
    margin-bottom: 0.5rem;
}

.root-directory {
    height: 100%;
    margin-bottom: 0;
}

.collapsed {
    height: 0;
    margin-bottom: 0;
}