.directory-container {
    cursor: pointer;

    /* flex parent */
    display: flex;
    align-items: center;
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}

.file-list {
    height: 30vh;
}

.root {
    height: 100%;
}

.collapsed {
    height: 0;
}