.directory-container {
    cursor: pointer;
    user-select: none;

    /* flex parent */
    display: flex;
    align-items: center;
}

.directory-name {
    margin: 0 0.5rem;
    display: inline-block;
    font-weight: normal;
}

.chevron-closed {
    transform: rotate(-90deg);
}

.file-list {
    transition: height 0.5s;
    height: 30vh;
}

.root {
    height: 100%;
}

.collapsed {
    height: 0;
}