.root {
    --header-height: 30px;
    --scroll-bar-width: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.header {
    height: var(--header-height);
    width: calc(100% - var(--scroll-bar-width));
}

.list-container {
    height: calc(100% - var(--header-height));
    width: 100%;
    overflow-y: auto;
}