.root {
    --header-height: 30px;
    --scroll-bar-width: 15px;
    overflow-y: hidden;
    overflow-x: auto;
}

.header {
    height: var(--header-height);
    width: calc(100% - var(--scroll-bar-width));
}

.list {
    height: calc(25% - var(--header-height));
}