.scroll-container {
    --header-height: 30px;
    height: 100%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; /* make sure it sits on top of directory listings and file records */
}

.file-tree-root {
    flex: 1 1 auto;
    margin-top: 1rem;
}
