.light-theme {
    /* placeholder for until / if we do a light theme for the app */
    color: orange;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.root {
    --global-button-row-height: 40px;

    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    composes: relative;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    line-height: 1;
    overflow: hidden; /* TODO; should be unnecessary */
}

.small-font {
    font-size: smaller;
}

/* Globally remove the ability to select text. Individual elements that need this should opt-in. */
.root * {
    user-select: none;
}

.core-and-file-details {
    composes: relative;
    display: flex;
    flex: auto;
    height: 100%;
    /* margin: var(--margin); */
    overflow: hidden;
}

.data-source-prompt {
    padding: 10%;
}

.query-sidebar-and-center {
    width: calc(80% - var(--margin));
    height: 100%;
    display: flex;

    /* flex child */
    flex: 1 0 auto;
    transition: flex var(--transition-duration);

    /* flex parent */
    display: flex;
}

.query-sidebar {
    height: 100%;
    width: 30%;
    max-width: var(--query-sidebar-max-width);
    padding: calc(var(--margin) / 2);
    position: relative;
}

.center {
    flex: auto;
    height: calc(100% - var(--margin) - 2px);
    margin: calc(var(--margin) / 2);
    width: calc(70% - var(--margin));
}

.global-button-row {
    height: var(--global-button-row-height);
}

.file-list {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: calc(100% - var(--global-button-row-height));
}

.file-details {
    height: 100%;
    transition: flex var(--transition-duration);
    width: 100%;

    /* flex child */
    flex: 0 0 var(--file-details-width);
}

.file-details::after {
    background-image: linear-gradient(transparent, var(--secondary-background-color));
    right: 0;
    content: " ";
    height: 100%;
    position: absolute;
    width: 10px;
    z-index: 2;
}
