.root {
  background-color: var(--secondary-dark);
  color: var(--secondary-text-color);
  margin: 0;
  border: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
}

/* Scrollable content: main body plus footer */
.scrollable {
  height: calc(100% - 60px);
  overflow-y: auto;
}
