.container {
    --row-count-margin-top: 0.05em;
    --row-count-intrisic-height: 12px; /* margin values are relative to this because it is used in font-size declaration */

    width: 100%;
    height: calc(100% - var(--margin));
}

.error-message {
    color: var(--primary-text-color);
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: var(--s-paragraph-size);
    font-style: italic;
}

.list {
    height: calc(100% - 3px);
    position: relative;
}

.row-count-display {
    color: var(--secondary-text-color);
    opacity: 0.8;
    position: relative;
    z-index: 99;

    /* layout */
    float: right;
    height: var(--row-count-intrisic-height-height);
    font-size: var(--row-count-intrisic-height);
    margin-top: var(--row-count-margin-top);
    margin-block-end: 0;
}

.horizontal-left-gradient, .horizontal-right-gradient, .vertical-top-gradient, .vertical-bottom-gradient {
    pointer-events: none;
    position: absolute;
    opacity: 1;
    z-index: 10;
}

.horizontal-left-gradient, .horizontal-right-gradient {
    height: calc(100% - var(--scrollbar-size));
    width: 60px;
}

.horizontal-left-gradient {
    background-image: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.9));
    left: 0;
}

.horizontal-right-gradient {
    background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.9));
    right: 0;
}

.vertical-top-gradient {
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.9));
    top: 33.5px; /* height of header + 3.5px to cover header shadow */
}

.vertical-bottom-gradient {
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
    bottom: 0;
}

/* For browsers that always show scrollbar, adjust shadow to avoid covering */
@supports selector(::-webkit-scrollbar) {
    .vertical-top-gradient, .vertical-bottom-gradient {
        height: 50px;
        width: calc(100% - var(--scrollbar-size));
    }

    .vertical-bottom-gradient.cropped-gradient {
        bottom: var(--scrollbar-size);
    }

    .horizontal-right-gradient.cropped-gradient {
        right: calc(var(--scrollbar-size) - 1px);
    }
}

/* Overwrite the above styling that adjusts the gradient for the scrollbar */
@supports (scrollbar-color: auto) {
    .vertical-top-gradient, .vertical-bottom-gradient {
        height: 50px;
        width: 100%;
    }

    .vertical-bottom-gradient {
        bottom: 0 !important;
    }

    .vertical-top-gradient.cropped-gradient, .vertical-bottom-gradient.cropped-gradient {
        width: 100% !important;
    }

    .horizontal-right-gradient.cropped-gradient {
        right: 0 !important;
        height: 100% !important;
    }
}