.container {
    --row-count-margin-top: 0.05em;
    --row-count-intrisic-height: 12px; /* margin values are relative to this because it is used in font-size declaration */

    width: 100%;
    height: calc(100% - var(--margin));
}

.list {
    height: 100%;
}

.row-count-display {
    color: var(--secondary-text-color);
    opacity: 0.8;
    position: relative;
    z-index: 99;

    /* layout */
    float: right;
    height: var(--row-count-intrisic-height-height);
    font-size: var(--row-count-intrisic-height);
    margin-top: var(--row-count-margin-top);
}
