.bold {
  font-weight: bold;
}

.header-wrapper {
  --inner-header-size: 30px;

  position: sticky;
  top: 0;

  /* NOTE! If this changes, you must also update a corresponding constant regarding the
  height of the header used to determine whether the currectly focused item is visible
  (in ./index.tsx). */
  height: calc(var(--inner-header-size) + 10px);
  z-index: 1000;
}

.header {
  background-color: var(--primary-brand-dark-blue); /* defined in App.module.css */
  /* positionX postionY blur spread */
  box-shadow: 0 1px 2px -1px rgba(0, 0, 0, 0.2),
    0 2px 2.5px 0 rgba(0, 0, 0, 0.14), 0 0.5px 5px 0 rgba(0, 0, 0, 0.12);
  color: var(--white); /* defined in App.module.css */
  font-size: var(--inner-header-size); /* our only hook for increasing the height of the header, but need to re-adjust font-size for header cells */
}

.header-cell {
  cursor: not-allowed;
}

.header-cell-tooltip {
  display: flex;
}

.clickable {
  cursor: pointer;
}

.list-parent {
  /* bizarrely necessary in order to not have the first list item initially render underneath the header */
  transform: translateY(0px);
}