.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.loading-container > div > div {
  border-color: var(--primary-text-color) var(--primary-background-color) var(--primary-background-color);
}

.selected {
  background-color: var(--highlight-background-color);
}

.small-font {
  font-size: var(--xs-paragraph-size);
}

.focused {
  background-color: var(--highlight-hover-background-color);
}

.thumbnail-wrapper {
  font-size: var(--s-paragraph-size);
  padding: 4px;
}

.thumbnail-wrapper > div {
  border-radius: var(--small-border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 4px;
}

.thumbnail-wrapper > div > :is(svg, img) {
  margin: 0 auto;
}

.thumbnail-wrapper > div > div {
  overflow-wrap: unset;
  text-overflow: ellipsis;
  word-break: keep-all;
  margin: auto;
  text-align: center;
  width: 100%;
}
