.row {
    /* NOTE! If this is updated, you must also update the corresponding constant in ./LazilyRenderedRow.tsx */
    --margin: 1.5px;
    margin: var(--margin);
}

.row.selected {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.row.focused {
    margin: 0;
    border: var(--margin) solid var(--highlight-background-color);
}

.shimmer {
    height: 22px;
}

.shimmer > div {
    background-color: var(--primary-background-color);
}
