.row {
    padding-bottom: 1px;
}

.row.selected {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color);
}

.row.focused {
    background-color: var(--highlight-hover-background-color);
    color: var(--highlight-hover-text-color);
}

.row.small-font {
    padding: 0px;
}

.shimmer {
    background-color: var(--secondary-background-color);
    height: 18.5px;
}

.shimmer > div {
    background-color: var(--primary-background-color);
    border-radius: var(--small-border-radius);
}
