.dialog {
    width: 40%;
    max-width: 40%;
}

.title {
    font-weight: 700;
    font-size: larger;
    padding-bottom: 3px;
}

.column-title {
    padding-top: 10px;
}

.subtitle {
    color: #a7a7a7;
    padding-bottom: 10px;
}

.subtitle-button {
    border: none;
    font-size: small;
    margin-left: auto;
}

.subtitle-button-container {
    display: flex;
}

.form {
    padding: 0 3%;
}

.dataset-form {
    display: flex;
}

.name-input {
    padding-left: 15px;
    width: 100%;
}

.name-input-subtext {
    color: #a7a7a7;
    font-size: smaller;
    padding-top: 5px;
}

.expiration-input {
    max-width: 100px;
    width: 100%;
}
