.label {
    padding-left: 25px;
}

.label-description {
    color: #bbbbbb;
}

.dataset-form {
    margin-left: 20px;

    /* Flex Parent */
    display: flex;
}

.dataset-name {
    padding-left: 15px;
    width: 70%;
}

.dialog {
    max-width: 50%;
}
