.list {
    list-style: none;
    margin: 0;
    overflow-y: auto;
    padding: 0;
}

.drop-indicator {
    background-color: var(--highlight-background-color);
}

/**
 * Necessary for preventing react-beautiful-dnd from shifting source list down when copying an item from source
 * list to a destination list. See https://github.com/atlassian/react-beautiful-dnd/issues/216 for context.
 */
.list-item-placeholder ~ li {
    transform: none !important;
}

.disabled {
    color: var(--light-grey);
}
