.file-thumbnail {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: 50% 50%;
}

.no-thumbnail {
    fill: var(--medium-grey);
    position: relative;
    left: -4px;
}

.no-thumbnail-selected {
    fill: var(--primary-dark);
}

.thumbnailPlaceholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--border-color);
    border: 5px var(--primary-background-color);
    margin: auto;
}
