.graph {
  background-color: var(--primary-dark);
}

.graph > div > div {
  cursor: default !important;
}

.graph g > path {
  stroke: var(--primary-text-color);
}

.loading-icon-container {
  display: flex;
}

.loading-icon-container > * {
  margin: auto;
}
