.graph {
  background-color: var(--primary-dark);
}

.graph > div > div {
  cursor: default !important;
}

.graph g > path {
  stroke: var(--primary-text-color);
}

.refresh-button {
  width: unset;
  color: var(--primary-text-color);
  border: none;
  position: absolute;
  z-index: 100;
  right: 0;
  margin: 10px;
}

.refresh-button:hover {
  color: var(--highlight-text-color);
}

.refresh-button i {
  padding-right: 8px;
}

.simple-container {
  display: flex;
}

.simple-container > * {
  margin: auto;
}
