.loading-container,
.picker {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    padding: 0 30px 16px;
    width: 35vw;
}

.header {
    background-color: var(--primary-background-color);
    padding: 16px 30px 0;
    width: 35vw;
}

.header > h3 {
    padding-bottom: 16px;
}

.choice-group {
    margin-bottom: 6px;
}

.form {
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.form > .header {
    flex: none;
}

.tabbed-picker {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
}

.range-picker {
    padding: 16px;
}

.mode-container {
    border: 1px solid var(--border-color);
    border-radius: var(--small-border-radius);
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.list-picker {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: calc(100vh - 350px);
    min-height: 0;
    position: relative;
}

.mode-container .list-picker {
    padding: 16px;
    width: 100%;
}

.list-picker::after {
    bottom: calc(16px + var(--footer-height));
    left: 30px;
    position: absolute;
    right: 30px;
    transform: none;
    width: auto;
}

.mode-container .list-picker::after {
    left: 16px;
    right: 16px;
}

.list-picker > div[class*="header"] {
    flex: none;
    min-height: unset;
}

.list-picker > div[class*="main-content"] {
    flex: 1 1 auto;
    height: auto;
    min-height: 0;
}

.list-picker > div[class*="footer"] {
    flex: none;
}

.tabs {
    border-bottom: 1px solid var(--border-color);
    display: flex;
    flex: none;
    margin: 0 16px;
}

.tabs > .tab {
    background: none;
    border: none;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-family: inherit;
    font-size: var(--s-paragraph-size);
    padding: 8px 4px 8px;
    position: relative;
    width: 140px;
}

.tab:hover,
.tab:focus {
    background: none !important;
    color: var(--primary-text-color);
}

.tab-active {
    color: var(--primary-text-color);
}

.tab-active::after {
    background-color: var(--aqua);
    bottom: -1px;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    right: 0;
}

.hidden {
    display: none;
}

.footer {
    background-color: var(--primary-background-color);
    padding: 16px 30px 16px;
    width: 35vw;
    font-style: italic;
}
