.container {
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
}

.button-group {
    display: flex;
    gap: 3px;
}

.list-view-button i {
    transform: translateX(-1px);
}

.thumbnail-config-button {
    margin-left: 10px;
}
