.browse-button {
    display: flex;
    justify-content: center;
    width: 100%;
}

.default-file-kind-picker {
    margin: 0;
    padding: 0;
}

.error-text {
    color: maroon;
    font-size: smaller;
}

.helper-text {
    color: #a7a7a7;
    font-size: smaller;
}
