.error-message {
    background-color: var(--error-status-background-color);
    border: var(--error-background-color) 1px solid;
    color: var(--error-status-text-color);
    padding: 10px;
}

.footer {
    margin-top: 20px;
    width: 100%;
}
  
.footer-align-right {
    width: 100%;
    display: flex;
}
  
.footer-align-right > * {
    margin-left: 10px;
    width: min-content;
}
  
.footer-align-right > *:first-child{
    margin-left: auto;
}

.password-input {
    padding-bottom: var(--margin);
}
  
.password-input > div > label, .password-input > div > label::after {
    color: var(--primary-text-color) !important;
    font-size: var(--l-paragraph-size);
}
  
.password-input input {
    background-color: var(--secondary-background-color) !important;
    color: var(--primary-text-color) !important;
    border-radius: 4px;
}

.password-input input:disabled {
    cursor: not-allowed;
}
  
.password-input > div:focus, .password-inputdiv:focus-visible, .text-field:focus-visible, .password-input > div:active {
    outline: none;
}
  
.password-input > div > div {
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: var(--secondary-background-color) !important;
    color: var(--secondary-text-color) !important;
}
  
.password-input > div > div::after {
    border: 1px solid var(--aqua);
    border-radius: 4px;
    outline: none;
}
  
.password-input > div > div > *::placeholder {
    color: var(--secondary-text-color);
    font-style: italic;
}
  
.password-input > div > div:hover {
    border: 1px solid var(--border-color)
}

.password-label {
    padding-bottom: 6px;
}
  
.primary-button:disabled {
    background-color: var(--border-color);
    color: var(--primary-text-color)
}
