@import url('https://fonts.googleapis.com/css?family=Roboto:400,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    scrollbar-color:  var(--medium-grey) var(--accent-dark)
}

body {
    /* Brand colors */
    --bright-aqua: #0dc4d9;
    --aqua: #0b9aab;
    --dark-aqua: #0b717c;
    --primary-dark: #2f2f2f;
    --secondary-dark: #1c1c1c;
    --accent-dark: #3d3d3d;
    --medium-grey: #575859;
    --light-grey: #BFBFBF;
    --white: #ffffff;
    --red: #c23030;

    /* DEFAULT THEME (dark theme) */
    --primary-background-color: var(--primary-dark);
    --secondary-background-color: var(--secondary-dark);
    --primary-text-color: var(--light-grey);
    --secondary-text-color: var(--light-grey);
    --highlight-background-color: var(--dark-aqua);
    --highlight-text-color: var(--white);
    --highlight-hover-background-color: var(--aqua);
    --highlight-hover-text-color: var(--white);
    --border-color: var(--medium-grey);
    --error-background-color: var(--red);
    --error-text-color: var(--white);
    --aqua-secondary-hover: rgba(13, 187, 206, 0.18);
    --small-border-radius: 4px;
    --large-border-radius: 16px;
    --box-shadow: 3px 4px 6px 0.5px black;

    --query-sidebar-max-width: 350px;
    --file-details-width: 20%;
    --margin: 12px;
    --transition-duration: 0.5s;
}

h3 {
    font-weight: 500;
}
