@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..700;1,300..600&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
main {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

/* For browsers that support `scrollbar-*` properties (updated versions of Firefox, Chrome, Edge) */
@supports (scrollbar-color: auto) {
    html,
    body,
    main {
        scrollbar-color: var(--medium-grey) var(--accent-dark);
    }
}
/* Otherwise, use pseudo-elements (Safari, Chromium) */
@supports selector(::-webkit-scrollbar) {
    body *::-webkit-scrollbar {
        background-color: var(--accent-dark);
        width: var(--scrollbar-size);
        height: var(--scrollbar-size);
    }
    body *::-webkit-scrollbar-corner {
        background-color: var(--accent-dark);
    }
    body *::-webkit-scrollbar-thumb {
        background-color: var(--medium-grey);
        border-radius: 8px;
    }
}

body {
    /* Brand colors */
    --bright-aqua: #0dc4d9;
    --aqua: #0b9aab;
    --dark-aqua: #0b717c;
    --primary-dark: #2f2f2f;
    --secondary-dark: #1c1c1c;
    --accent-dark: #3d3d3d;
    --medium-grey: #575859;
    --light-grey: #BFBFBF;
    --white: #ffffff;
    --red: #c23030;

    /* DEFAULT THEME (dark theme) */
    --primary-background-color: var(--primary-dark);
    --secondary-background-color: var(--secondary-dark);
    --primary-text-color: var(--light-grey);
    --secondary-text-color: var(--light-grey);
    --highlight-background-color: var(--aqua);
    --highlight-text-color: var(--white);
    --highlight-hover-background-color: var(--bright-aqua);
    --highlight-hover-text-color: var(--white);
    --border-color: var(--medium-grey);
    --error-background-color: var(--red);
    --error-text-color: var(--white);
    --aqua-secondary-hover: rgba(13, 187, 206, 0.18);
    --small-border-radius: 4px;
    --large-border-radius: 18px;
    --box-shadow: 3px 4px 6px 0.5px black;
    --l-paragraph-size: 16px;
    --s-paragraph-size: 14px;
    --xs-paragraph-size: 12px;

    /* STATUS COLORS (dark theme)*/
    --info-status-background-color: #29484C;
    --info-status-text-color: var(--bright-aqua);
    --error-status-background-color: #4C2929;
    --error-status-text-color: #F57575;
    --warning-status-background-color: #4C3C29;
    --warning-status-text-color: #E39B0D;
    --success-status-background-color: #294C2F;
    --success-status-text-color: #0CCF4D;

    --query-sidebar-max-width: 350px;
    --file-details-width: 20%;
    --margin: 12px;
    --transition-duration: 0.5s;
    --font-family: 'Open Sans', sans-serif;
    --scrollbar-size: 12px;
}

h1 {
    font-size: 38px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

h4 {
    font-size: 16px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
}

/* Chrome autocomplete changes the background of inputs */
input:-internal-autofill-selected {
    background: transparent !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--primary-text-color);
    transition: background-color 5000s ease-in-out 0s;
    caret-color: var(--primary-text-color);
}