.button-menu, .button-menu button {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.button-menu {
    padding: 8px 0;
}

.button-menu li > button, .button-menu li > button > div > i {
    height: 34px;
}

.button-menu li > button, .button-menu li > div > a {
    padding: 0 12px;
}

.button-menu i, .button-menu li > div {
    color: var(--primary-text-color);
}

.button-menu button span:last-of-type:not(:first-of-type) {
    color: var(--primary-text-color);
}

.button-menu :is(a, button):hover, .button-menu :is(a, button):hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color) !important;
}

.button-menu-callout {
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
}

.button-menu-callout > div {
    border-radius: var(--small-border-radius);
    background-color: unset;
}

.button-menu-callout span {
    font-size: var(--l-paragraph-size);
}

.button-menu li:empty {
    display: none;
    margin-bottom: 8px;
}

.button-menu-header {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    margin: 0 16px;
    padding: 26px 0 5px 0;
}

/* The first header should have different top padding */
.button-menu-header:first-of-type {
    padding-top: 4px;
}

.button-menu-header > div {
    height: unset;
    padding: 0;
}

.button-menu-header span {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 1em;
    margin: 0;
}

.button-menu-header > div > div > i {
    display: none;
}

.button-menu-item-disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
