.button-menu, .button-menu button {
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
}

.button-menu {
    padding: 8px 0;
}

.button-menu li > button, .button-menu li > button > div > i {
    height: 34px;
}

.button-menu li > button, .button-menu li > div > a {
    padding: 0 12px;
}

.button-menu i, .button-menu li > div {
    color: var(--primary-text-color);
}

.button-menu button span:last-of-type:not(:first-of-type) {
    color: var(--primary-text-color);
}

.button-menu :is(a, button):hover, .button-menu :is(a, button):hover i {
    background-color: var(--highlight-background-color);
    color: var(--highlight-text-color) !important;
}

.button-menu-callout {
    border-radius: var(--small-border-radius);
    box-shadow: var(--box-shadow);
}

.button-menu-callout > div {
    border-radius: var(--small-border-radius);
}

.button-menu li:empty {
    display: none;
}

.button-menu-header {
    align-items: center;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    height: 40px;
    padding: 0 10px;
}

.button-menu-header span {
    color: var(--highlight-text-color);
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.button-menu-header > div > div > i {
    display: none;
}

.button-menu-item-disabled {
    opacity: 0.5;
}
