.column-dropdown {
    margin: 1em 0;
}

.column-list {
    list-style: none;
    margin-top: 0;
    padding: 0;
}

.list-item {
    height: 18px;
}

.list-item:hover {
    background-color: lightgrey;
}

.column-list-icon {
    cursor: pointer;
    margin-right: 1em;
    user-select: none;
}

.top-level-annotation-item {
    margin-left: 2em;
}

.top-level-annotation-item-text {
    float: right;
}
