.container {
    background: black;
    opacity: 0.8;
    position: absolute;
    bottom: 10px;
    left: 50%; /* put left edge at the 50% mark of the containing block */
    transform: translateX(-50%); /* pull the element back to the left 50% of it's own width */
    height: 60px;
    width: 350px;
    text-align: center;
    z-index: 999;
}

.row {
    display: flex;
}

.column {
    flex: auto;
    padding-top: 10px;
}

.column-data {
    margin-bottom: 5px;
}

.column-data > div > div {
    border-color: var(--primary-text-color) var(--primary-background-color) var(--primary-background-color);
}

.label {
    font-weight: lighter;
    margin: 0;
}

.error-message {
    height: 100%;
    display: flex;
    align-items: center;;
}
