.dialog {
    max-width: 50%;
}

.header {
    margin-top: 10px;
    margin-bottom: 4px;

    /* Flex Parent */
    display: flex;
    justify-content: space-between;
}

.copy-button, .copy-button:hover {
    color: var(--primary-brand-purple); /* defined in App.module.css */
    float: right;
}

.code {
    cursor: text;
    user-select: text;
}