.data-source-prompt {
    padding: 10%;
    overflow: scroll;
    height: 100%;
}

.core-content {
    height: 100%;
    display: flex;

    /* flex parent */
    display: flex;
}

.core-content, .diagram {
    width: calc(100% - var(--margin) - var(--file-details-width));

    /* flex child */
    flex: 1 0 auto;
    transition: flex var(--transition-duration);
}

.hide-left {
    display: none;
}

.hide-right {
    display: none;
}

.global-button-row {
    height: var(--global-button-row-height);
}

.file-list {
    display: flex;
    flex-direction: column;
    flex: auto;
    height: calc(100% - var(--global-button-row-height));
}

.query-sidebar {
    height: 100%;
    width: 30%;
    max-width: var(--query-sidebar-max-width);
    padding: calc(var(--margin) / 2);
    position: relative;
}

.center {
    flex: auto;
    height: calc(100% - var(--margin) - 2px);
    margin: calc(var(--margin) / 2);
    width: calc(70% - var(--margin));
}

.hidden {
    /* arbitrarily large to move input off-screen */
    left: -100%;
    top: -100%;
    position: absolute;
}
