html {
    background-color: #ffffff;
    box-sizing: border-box;
    color: darkslategrey;
    font-family: "Open Sans", sans-serif;
  }

  *,
  *:before,
  *:after {
      box-sizing: inherit;
  }

html, body, #app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.title {
    font-family: 'Raleway', sans-serif;
}

#app {
    /* flex parent of primary- and secondary-column */
    display: flex;
    flex-direction: row;
}

#primary-column {
    /* flex child of app */
    flex: 1 1 40%;

    /* flex parent of primary-column-body & primary-column-footer */
    display: flex;
    flex-direction: column;

    color: #ffffff;
    background-color: #6b6286;
    user-select: none;
}

#primary-column header {
    flex: 0 0 10%;
    margin-bottom: 1.5em;
}

.logo {
    max-height: 50px;
}

#primary-column section {
    /* flex child of primary-column */
    flex: 1 1 80%;

    padding: 0 10%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#download-link {
    text-decoration: none;
    width: 100%;

    margin-bottom: 20px;
}

#download-button {
    background-color: #BAD636;
    font-size: 1.5em;
    width: 100%;
    border: none;
    color: #003056;
    cursor: pointer;
    display: table;
    font-weight: 700;
    height: 3em;
}

#download-button:hover {
    background-color: #dbee86;
}

#selectors {
    display: flex;
    width: 100%;
}

select {
    background-color: white;
    color: black;
    cursor: pointer;
    display: block;
    padding: 0.5em;
    margin-top: 0.5em;
}

.selector-container {
    width: 50%;
    padding: 0 5%;

    /* flex parent to its label and select elements */
    display: flex;
    flex-direction: column;

}

#primary-column footer {
    /* flex child of primary-column */
    flex: 1 1 auto;
    text-align: center;

    /* flex parent of github link */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

#gh-logo {
    width: 3em;
}

#secondary-column {
    /* flex child of app */
    flex: 1 1 60%;
}

.column {
    padding: 3em;
}

li {
    margin: 0.25em 0;
}

#subtitle {
    color: #edebf1;
}
