.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: fit-content;
  padding: var(--margin) 0;
  border-top: 1px solid var(--border-color);
  text-align: center;
  background-color: var(--secondary-dark);
  z-index: 100;
}

.footer-link {
  color: var(--primary-text-color) !important;
  border: none !important;
  font-size: var(--s-paragraph-size) !important;
}

.footer-link:hover {
  color: var(--highlight-text-color) !important;
  background-color: transparent !important;
}
