.custom-edge {
  cursor: default;
  padding: 5px 10px;
  position: absolute;
  color: var(--primary-text-color);
  font-size: var(--xs-paragraph-size);
  font-weight: 400;
}


/* TODO: Does this work? */
.custom-edge a {
  color: var(--aqua);
  pointer-events: all;
}

.custom-edge a:hover {
  color: var(--bright-aqua);
  pointer-events: all;
  text-decoration: underline;
}
