.edge {
  background-color: var(--primary-background-color);
  border: none;
  border-radius: 5px;
  color: var(--primary-text-color);
  font-size: var(--xs-paragraph-size);
  font-weight: 400;
  height: 1.25em;
  min-width: min-content;
  overflow: hidden;
  padding: 2px;
  pointer-events: auto;
  position: absolute;
  width: min-content;
}

.edge > span > span {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.edge:hover {
  background-color: var(--primary-background-color);
  color: var(--highlight-hover-background-color);
}

.edge > div {
  overflow: hidden;
  width: min-content;
  white-space: nowrap;
}

.edge i:last-of-type {
  display: none;
}

.path {
  cursor: default;
  pointer-events: none;
}
