.advanced-options-title {
    margin: 30px 0 15px 0;
    text-align: center;
}

.divider {
    border-color: var(--border-color) !important;
}

.file-input {
    display: none;
}

.load-button-container {
    display: flex;
    margin-top: 20px;
    width: 100%;
}

.load-button-container > * {
    margin-left: 10px;
    width: min-content;
}

.load-button-container > *:first-child {
    margin-left: auto;
}

.link-like-button {
    background: none;
    color: var(--highlight-background-color);
    border: none;
    font-size: small;
    padding: 0;
}

.link-like-button span {
    font-weight: unset;
    margin: 0;
}

.link-like-button:hover, .link-like-button:focus {
    background-color: unset;
    color: var(--highlight-hover-background-color);
}

.subtitle-button-container {
    display: flex;
    justify-content: center;
}

.left-align {
    justify-content: left;
}

.title {
    margin-bottom: 30px;
}

.text {
    margin: 0;
    padding: 2px 0.5em 2px 0;
    line-height: 1.5;
}

.title, .details, .warning > p {
    padding: 2px 0;
    line-height: 1.5;
}

.details, .details-list {
    margin-bottom: 0;
    margin-top: 0;
}

h4.details {
    font-size: 14px;
    margin-top: 5px;
}

.text, .title, .warning {
    text-align: center;
}

.warning {
    background-color: var(--error-background-color);
    border-radius: 4px;
    color: var(--error-text-color);
    margin-bottom: 8px;
    padding: 4px;
}

.warning > h4 {
    margin: 0 0 4px 0;
    padding: 0;
}
