.root {
    --max-width: 640px;
    --min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advanced-options-empty {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 30px;
}

.advanced-options-filled {
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advanced-options-header {
    display: flex;
}

.advanced-options-button {
    align-self: flex-start;
}

.divider {
    border-color: var(--border-color) !important;
}

.file-prompt-wrapper, .file-prompt-outer-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.file-prompt-outer-wrapper {
    margin-bottom: 32px;
    min-width: var(--min-width);
    max-width: var(--max-width);
}

.file-prompt {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

.file-prompt-wide {
    margin-top: 10px;
    width: 100%;
    max-width: none;
}

.guidance {
    align-self: flex-start;
    width: 100%;
}

.icon-button {
    top: -6px;
}

.icon-button i {
    font-size: 18px;
    height: 18px;
}

.load-button-container {
    display: flex;
    margin-top: 18px;
    width: 100%;
}

.link-like-button {
    background: none;
    color: var(--highlight-background-color);
    border: none;
    font-size: small;
    padding: 0;
}

.link-like-button span {
    font-weight: unset;
    margin: 0;
}

.link-like-button:hover, .link-like-button:focus {
    background-color: unset;
    color: var(--highlight-hover-background-color);
}

.left-align {
    justify-content: left;
}

.table-example, .full-width {
    width: 100%;
}

.table-example > thead {
    background-color: var(--primary-background-color);
}

.table-example.dark-header > thead {
    background-color: var(--accent-dark);
}

.table-example tr > :is(th) {
    font-weight: 600 !important;
    text-align: left;
}

.table-example, .table-example tr > :is(th, td) {
    border: 1px solid var(--border-color);
    border-collapse: collapse;
}

.table-example tr > :is(th, td) {
    padding: 8px;
}

.light-border.table-example, .light-border.table-example tr > :is(th, td) {
    border: 1px solid var(--border-color);
}

.title {
    margin-bottom: 6px;
}

.datasource-subhead {
    margin-bottom: 13px !important;
    text-align: left;
    max-width: var(--max-width);
    min-width: var(--min-width);
}

.text {
    margin: 0;
    padding: 2px 0.5em 2px 0;
    line-height: 1.5;
}

.title, .details, .warning > p {
    padding: 2px 0;
    line-height: 1.5;
}

.details, .details-list {
    margin-bottom: 0;
    margin-top: 0;
}

.details-list {
    margin: 0;
    padding-left: 16px;
    line-height: 1.5;
}

h4.subheader {
    line-height: 26px;
    margin: 16px 0 12px;
}

h4.details {
    font-size: 14px;
    margin-top: 5px;
}

.hidden {
    display: none;
}

.load-button {
    width: fit-content;
}

.text, .title, .warning {
    text-align: center;
}

.warning {
    background-color: var(--error-background-color);
    border-radius: 4px;
    color: var(--error-text-color);
    margin-bottom: 8px;
    padding: 4px;
}

.warning > h4 {
    margin: 0 0 4px 0;
    padding: 0;
}
