.actions-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.actions-container > * {
    margin: 0 auto 0 auto;
}

.dropzone {
    width: 100%;
    border: 1px dashed var(--border-color);
    text-align: center;
    padding: 5px 0 19px;
    min-height: 105px;
    font-size: var(--s-paragraph-size);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.dropzone-active, .dropzone:hover {
    background-color: var(--primary-dark);
    border: 1px dashed var(--aqua);
}

.dropzone-active-dark, .dropzone-dark:hover {
    background-color: var(--secondary-dark);
    border: 1px dashed var(--aqua);
}

.dropzone > div {
    display: flex;
    justify-content: center;
}

.dropzone-button {
    width: fit-content;
    display: flex;
}

.dropzone-button:hover {
    background-color: var(--aqua-secondary-hover) !important;
    color: var(--bright-aqua) !important;
    border-color: var(--bright-aqua);
}

.dropzone-icon {
    top: 2px;
    position: relative;
    margin-right: 5px;
}

.or-divider {
    display: flex;
    font-weight: 600;
    justify-content: center;
    margin: 10px 0 10px 0;
}

.selected-file {
    align-items: center;
    display: flex;
    margin: 0;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    width: min-content;
    white-space: nowrap;
    font-weight: 600;
}

.selected-file-button {
    color: var(--primary-text-color);
    margin-left: 10px;
}

.selected-file-button:hover {
    background-color: unset;
    color: var(--highlight-text-color);
}

.selected-files {
    display: flex;
    padding-bottom: 10px
}

.selected-file-container {
    width: 100%;
}

.cancel-icon {
    align-items: center;
    border-radius: var(--small-border-radius);
    cursor: pointer;
    display: flex;
    padding: 0 0.5em;
}

.cancel-icon.disabled {
    cursor: default;
    opacity: 0.8;
}

.cancel-icon:hover:not(.disabled), .cancel-icon:focus:not(.disabled) {
    color: var(--highlight-text-color);
}

.file-selection-error {
    color: var(--error-status-text-color);
    font-size: var(--s-paragraph-size);
    align-self: flex-start;
    margin: 0 0 10px;
}

.url-form {
    background-color: var(--secondary-background-color);
    width: 100%;
    border-radius: var(--small-border-radius);
}

.url-form :is(input, input::placeholder) {
    background-color: var(--secondary-background-color);
    border: none;
    border-color: var(--border-color);
    border-radius: var(--small-border-radius);
    color: var(--secondary-text-color);
}

.url-form input::placeholder {
    font-style: italic;
}

.url-form input::after {
    display: none;
}

.url-form > div > div > div {
    background-color: unset;
    border-radius: var(--small-border-radius)
}

.url-form > div > div > div:hover {
    border: 1px solid var(--accent-dark);
}

.url-form > div > div > div::after {
    border: 1px solid var(--aqua);
    border-radius: var(--small-border-radius)
}

.url-form > .cancel-icon:hover {
    background-color: transparent;
    color: var(--highlight-text-color);
}

.hidden {
    display: none;
}
